body, html, .pattern {
  height: 100%; }

body {
  font-size: 15px;
  line-height: 1.4;
  font-family: "abril-titling", "Garamond", serif;
  font-weight: 400;
  font-style: normal; }

nav {
  background-color: white;
  height: 51.7px;
  transition: top 0.2s ease-in-out; }

h2 {
  margin-bottom: 0.33333em;
  font-size: 1.6em;
  text-align: center; }

h3 {
  text-transform: uppercase;
  color: #808285;
  text-align: center;
  font-size: 1.46667em;
  position: relative;
  bottom: 1em;
  height: 45px;
  letter-spacing: .75px; }
  @media (min-width: 552px) {
    h3 {
      bottom: 1.86667em;
      height: auto; } }

h4 {
  text-transform: uppercase;
  color: #808285;
  text-align: center;
  font-size: 1.2em;
  position: relative;
  bottom: 1.86667em;
  letter-spacing: .75px; }

h5 {
  color: #808285;
  font-size: 1.2em; }

.btn {
  font-size: 1.26667em;
  letter-spacing: 2px;
  text-transform: uppercase; }

p {
  margin-bottom: 1.33333em; }

button {
  margin-top: 2em;
  background-color: #0ab389;
  color: #fff; }

form {
  margin-bottom: 50px;
  padding: 0;
  position: relative;
  bottom: 20px; }

.intro {
  text-align: left; }

.newSection {
  padding-top: 6.66667em;
  padding-bottom: 6.66667em; }
  @media (min-width: 768px) {
    .newSection {
      padding-top: 10em;
      padding-bottom: 10em; } }

.h2--L {
  display: block;
  margin: 0 auto 13.33333em;
  background-repeat: no-repeat;
  background-position: center;
  height: 91px; }

#portfolio h2 {
  background-image: url("../images/H1__FeaturedWork--XS.jpg");
  padding-bottom: 10px; }
  @media (min-width: 552px) {
    #portfolio h2 {
      background-image: url("../images/H1__FeaturedWork--L.png"); } }

#process h2 {
  background-image: url("../images/H1__Process--XS.jpg");
  padding-bottom: 10px; }
  @media (min-width: 552px) {
    #process h2 {
      background-image: url("../images/H1__Process--L.png"); } }

#services h2 {
  background-image: url("../images/H1__Services--XS.png"); }
  @media (min-width: 552px) {
    #services h2 {
      background-image: url("../images/H1__Services--L.png"); } }

#about h2 {
  background-image: url("../images/H1__About--XS.png"); }
  @media (min-width: 552px) {
    #about h2 {
      background-image: url("../images/H1__About--L.png"); } }

#contact h2 {
  background-image: url("../images/H1__Contact--XS.jpg"); }
  @media (min-width: 552px) {
    #contact h2 {
      background-image: url("../images/H1__Contact--L.png"); } }

.h2__description {
  font-style: italic;
  color: #939598;
  text-align: center;
  font-size: 1.13333em;
  position: relative;
  bottom: 1.53333em;
  margin-bottom: 2.66667em; }
  @media (max-width: 552px) {
    .h2__description {
      display: none; } }
  @media (min-width: 768px) {
    .h2__description {
      font-size: 1.2em; } }

.cd-fixed-bgtop {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed; }

.cd-fixed-bg {
  background-repeat: repeat;
  background-attachment: fixed; }

.cd-scrolling-bg {
  min-height: 100%; }

.navbar-nav li a {
  color: #808285;
  margin: 0;
  font-size: 1.13333em; }
  @media (min-width: 992px) {
    .navbar-nav li a {
      font-size: 1.2em; } }
  .navbar-nav li a:hover {
    color: #0ab389;
    background-color: inherit; }
  .navbar-nav li a:focus {
    background: none; }
  .navbar-nav li a.last {
    padding-right: 0; }

a.navbar-brand {
  color: #808285;
  font-size: 1.13333em; }
  @media (min-width: 992px) {
    a.navbar-brand {
      font-size: 1.2em; } }
  a.navbar-brand:hover {
    color: #0ab389;
    background-color: inherit; }
  a.navbar-brand:focus {
    color: #808285; }

.navbar-collapse {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 0; }
  @media (min-width: 768px) {
    .navbar-collapse {
      padding: 0; } }

.navbar-toggle {
  padding-right: 0; }
  .navbar-toggle:hover .icon-bar {
    background-color: #0ab389; }

#navbar ul {
  margin: 0; }

.icon-bar {
  background-color: #808285; }

.nav-up {
  top: -51.7px; }

.jumbotron__background {
  background-image: url("../images/Background_991px.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 932px; }
  @media (min-width: 992px) {
    .jumbotron__background {
      background-image: url("../images/Background_1199px.jpg"); } }
  @media (min-width: 1200px) {
    .jumbotron__background {
      background-image: url("../images/Background_2000px.jpg"); } }

#jumbotron {
  position: relative;
  display: block;
  text-align: center;
  height: 500px; }
  @media (min-width: 458px) {
    #jumbotron {
      height: 550px; } }
  @media (min-width: 768px) {
    #jumbotron {
      height: 635px; } }
  @media (min-width: 992px) {
    #jumbotron {
      height: 800px; } }
  @media (min-width: 1200px) {
    #jumbotron {
      height: 932px; } }

.home__graphic--atom {
  display: block;
  margin: 6em auto 0;
  max-width: 100%; }

.tagline {
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  width: 100%;
  font-size: 1.13333em;
  letter-spacing: 1px; }
  @media (min-width: 768px) {
    .tagline {
      top: 60.65%; } }
  @media (min-width: 992px) {
    .tagline {
      font-size: 1.4em;
      letter-spacing: 2px;
      top: 63.65%; } }
  @media (min-width: 1200px) {
    .tagline {
      font-size: 1.53333em;
      top: 58.65%; } }

.myanimation h1 {
  position: relative;
  color: #fff;
  letter-spacing: 2px;
  text-align: center; }
  .myanimation h1 .is-hidden {
    display: none; }
  @media (min-width: 768px) {
    .myanimation h1 {
      font-size: 4.4em;
      bottom: 28%; } }
  @media (min-width: 992px) {
    .myanimation h1 {
      font-size: 5.73333em;
      bottom: 30%; } }
  @media (min-width: 1200px) {
    .myanimation h1 {
      font-size: 6.4em;
      bottom: 48%; } }

.intro--mobile {
  font-size: 2em;
  line-height: 1.8em;
  display: inline;
  color: #fff; }
  @media (min-width: 458px) {
    .intro--mobile {
      font-size: 2.4em; } }
  @media (min-width: 552px) {
    .intro--mobile {
      font-size: 3.06667em; } }

.intro--graphic {
  display: block;
  margin: 10.66667em auto 0;
  width: 240px; }
  @media (min-width: 458px) {
    .intro--graphic {
      width: 260px; } }
  @media (min-width: 552px) {
    .intro--graphic {
      width: 290px;
      margin: 10em auto 0; } }

.portfolio li {
  color: #0ab389;
  list-style: none;
  padding: 0; }
.portfolio li a img {
  width: 100%;
  height: auto; }
.portfolio ul {
  padding-bottom: 3.33333em; }
  @media (min-width: 768px) {
    .portfolio ul {
      padding-bottom: 5.66667em; } }

.Work__button {
  display: block;
  background: url("../images/Work__button--Sprite.jpg") no-repeat;
  height: 44px;
  width: 333px;
  margin: 0 auto; }
  .Work__button:hover {
    background-position: center center; }
  .Work__button:active {
    background-position: center bottom; }

#services {
  background-image: url("../images/Services_Background.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #939598;
  padding-top: 120px;
  padding-bottom: 120px; }
  @media (min-width: 768px) {
    #services {
      padding-top: 150px;
      padding-bottom: 130px; } }
  #services h2, #services p {
    padding: 0.33333em 1em 0 1em; }
  #services h3 {
    margin-bottom: 30px; }
    @media (min-width: 552px) {
      #services h3 {
        margin-bottom: 0px; } }
  #services ul {
    list-style: none;
    margin-left: -2.75em;
    position: relative;
    bottom: 25px; }
    @media (min-width: 768px) {
      #services ul {
        padding-bottom: 20px; } }
    @media (min-width: 992px) {
      #services ul {
        padding-bottom: 0px; } }
    #services ul li {
      font-style: normal; }

.emphasis {
  font-style: italic;
  font-size: 1.33333em; }

.icons {
  fill: none;
  stroke: #0ab389;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-miterlimit: 10; }

.svgcontainer {
  height: 145px;
  position: relative;
  bottom: 40px; }
  @media (min-width: 768px) {
    .svgcontainer {
      bottom: 40px; } }
  @media (min-width: 992px) {
    .svgcontainer {
      bottom: 50px; } }
  .svgcontainer .lightbulb {
    width: 94px;
    padding-top: 30px; }
  .svgcontainer .eyeball {
    width: 145px;
    padding-top: 62px; }
    .svgcontainer .eyeball .visible {
      display: inline; }
    @media (min-width: 768px) {
      .svgcontainer .eyeball {
        padding-top: 58px; } }
  .svgcontainer .laptop {
    width: 150px;
    padding-top: 48px; }
    @media (min-width: 768px) {
      .svgcontainer .laptop {
        padding-top: 45px;
        margin-top: 0; } }

.design ul {
  margin-bottom: 25px; }
  @media (min-width: 992px) {
    .design ul {
      margin-bottom: 0; } }

#process {
  height: 680px;
  padding-top: 130px; }
  @media (min-width: 552px) {
    #process {
      height: 795px; } }
  @media (min-width: 768px) {
    #process {
      height: 865px;
      padding-top: 130px; } }
  @media (min-width: 992px) {
    #process {
      height: 865px;
      padding-top: 150px; } }
  @media (min-width: 1200px) {
    #process {
      height: 835px; } }

.process__content {
  padding-top: 50px; }
  .process__content li {
    list-style: none; }
  .process__content p {
    font-style: normal;
    color: #808285;
    text-align: center;
    margin-top: -20px; }

.process svg {
  height: 64px;
  display: relative;
  bottom: 20px; }

.Process__Rule {
  height: 0;
  width: 70%;
  border-top: 1px solid #808285;
  position: relative;
  top: 12px;
  margin: 0 auto;
  z-index: -1; }
  @media (min-width: 768px) {
    .Process__Rule {
      width: 355px; } }
  @media (min-width: 992px) {
    .Process__Rule {
      width: 455px; } }
  @media (min-width: 1200px) {
    .Process__Rule {
      width: 485px; } }

.process .active .outer {
  fill: #fff;
  stroke: #0ab389;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-miterlimit: 10; }
.process .active .inner {
  fill: #0ab389; }
.process .active path {
  fill: #fff; }

.process .inactive .outer {
  fill: #fff;
  stroke: #0ab389;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transform: scale(0.8); }
.process .inactive .inner {
  fill: #0ab389;
  transform: scale(0); }
.process .inactive path {
  fill: #808285; }
.process .inactive:hover .outer {
  transform: scale(1); }
.process .inactive:hover .inner {
  fill: #0ab389;
  transform: scale(1); }
.process .inactive:hover path {
  transition: fill;
  fill: #fff; }

.process path,
.process .inner,
.process .outer {
  transition: .3s ease-in-out;
  transform-origin: 50% 50%; }

.process__content-visible {
  display: initial; }

.process__content-hidden {
  display: none; }

.process__1 {
  position: relative;
  right: 20px; }
  @media (min-width: 768px) {
    .process__1 {
      left: 30px; } }
  @media (min-width: 992px) {
    .process__1 {
      left: 10px; } }
  @media (min-width: 1200px) {
    .process__1 {
      left: 10px; } }

.process__2 {
  position: relative;
  right: 20px; }
  @media (min-width: 768px) {
    .process__2 {
      left: 70px; } }
  @media (min-width: 992px) {
    .process__2 {
      left: 60px; } }
  @media (min-width: 1200px) {
    .process__2 {
      left: 75px; } }

.process__3 {
  position: relative;
  right: 20px; }
  @media (min-width: 768px) {
    .process__3 {
      left: 45px; } }
  @media (min-width: 992px) {
    .process__3 {
      left: 40px; } }

#about {
  padding-top: 19%;
  padding-bottom: 23%;
  background-image: url("../images/About__Background.jpg");
  background-size: cover;
  background-position: center; }
  @media (min-width: 992px) {
    #about {
      padding-top: 10em;
      padding-bottom: 10em; } }
  #about h2 {
    color: #0ab389;
    padding: 0; }
  #about p {
    color: #808285;
    padding: 0;
    text-align: left; }

.aboutpic {
  display: block;
  width: 212px;
  margin: 0 auto 30px; }

.content {
  text-align: center; }
  @media (min-width: 992px) {
    .content {
      text-align: left; } }
  .content h3 {
    font-size: 1.13333em;
    letter-spacing: normal;
    color: #0ab389; }
  .content ul, .content li {
    padding: 0;
    list-style: none;
    color: #808285;
    font-style: italic; }

#contact {
  padding-top: 8em;
  padding-bottom: 6.66667em; }
  @media (min-width: 992px) {
    #contact {
      padding-top: 10em;
      padding-bottom: 10em; } }
  #contact h2 {
    color: #0ab389; }
  #contact p {
    color: #808285; }

.form-left input {
  height: 34.75px; }

.form-control:focus {
  box-shadow: 0 0 3px #0ab389;
  border: 1px solid #0ab389; }

.Submit__button {
  display: block;
  background: url("../images/Submit__button--Sprite.png") no-repeat;
  height: 44px;
  width: 333px;
  margin: -15px auto 0;
  position: relative;
  top: 0px; }
  .Submit__button:hover {
    background-position: center center; }
  .Submit__button:active {
    background-position: center bottom; }
  @media (min-width: 992px) {
    .Submit__button {
      top: 340px; } }

.social {
  height: 90px;
  padding-top: 15px;
  background-color: #0ab389;
  margin-top: 30px; }
  @media (min-width: 544px) {
    .social {
      height: 60px;
      padding-top: 12px; } }
  @media (min-width: 992px) {
    .social {
      margin-top: 40px; } }

.copyright {
  color: #fff;
  font-style: italic;
  position: relative;
  margin: 0 auto;
  top: 40px;
  text-align: center; }
  @media (min-width: 544px) {
    .copyright {
      margin: 0 0 0 30px;
      top: 9px;
      text-align: left; } }

.group {
  width: 226px;
  height: auto;
  display: table;
  position: relative;
  bottom: 17px;
  margin: 0 auto;
  padding-left: 9px; }
  @media (min-width: 544px) {
    .group {
      float: right;
      margin: 0 30px 0 0;
      bottom: 17px;
      padding-left: 0; } }

.size {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 10px; }
  @media (min-width: 544px) {
    .size {
      float: right; } }

#twitter,
#linkedin,
#behance,
#github,
#codepen {
  fill: #fff; }
  #twitter:hover,
  #linkedin:hover,
  #behance:hover,
  #github:hover,
  #codepen:hover {
    fill: #939598; }

@media (min-width: 768px) {
  .portfolio__page {
    margin-top: 4em;
    margin-bottom: 2em; } }

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    z-index: 1000;
    max-width: 18em;
    display: block;
    padding-right: 3em;
    margin-left: 1em; } }
@media (min-width: 992px) {
  .sidebar {
    max-width: 21.33333em; } }
@media (min-width: 1200px) {
  .sidebar {
    max-width: 26em; } }

.portfolio__text {
  color: #808285;
  text-align: center; }
  @media (min-width: 768px) {
    .portfolio__text {
      text-align: left; } }

.portfolio__title {
  margin-bottom: 0.33333em;
  font-size: 1.66667em;
  padding-top: 2em; }
  @media (min-width: 768px) {
    .portfolio__title {
      padding-top: 0.33333em; } }

.portfolio__type {
  text-transform: uppercase;
  font-size: 1.26667em; }
  @media (min-width: 768px) {
    .portfolio__type {
      text-align: left; } }

.portfolio__client {
  font-style: italic;
  padding: 0.66667em 0;
  border-top: 1px solid rgba(128, 130, 133, 0.2);
  border-bottom: 1px solid rgba(128, 130, 133, 0.2);
  margin: 1.46667em auto 0.53333em; }
  @media (min-width: 768px) {
    .portfolio__client {
      margin: 1.2em auto; } }

main img {
  max-width: 100%; }

.portfolio__image--primary {
  margin-top: 0.66667em; }
  @media (min-width: 768px) {
    .portfolio__image--primary {
      margin-top: 1.86667em; } }

.navigation {
  padding: 30px 0 30px 0;
  height: 100px; }
  @media (min-width: 768px) {
    .navigation {
      height: 40px;
      bottom: 2.66667em;
      padding: .5em 15px .5em 0;
      margin: 0; } }
  .navigation .navigation__home {
    text-align: center;
    font-style: italic;
    color: #808285;
    padding-top: 0.66667em; }
    @media (min-width: 768px) {
      .navigation .navigation__home {
        padding-top: 0.33333em; } }
    .navigation .navigation__home:hover {
      color: #0ab389; }

.subnav {
  height: 100%;
  fill: none;
  stroke: #BCBEC0;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }
  .subnav:hover {
    stroke: #0ab389; }

.myanimation {
  height: 13em;
  position: absolute;
  top: 41%;
  width: 100%;
  white-space: nowrap;
  text-align: center; }

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: center; }

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0; }

.cd-words-wrapper b.is-visible {
  position: relative; }

.no-js .cd-words-wrapper b {
  opacity: 0; }

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1; }

.cd-headline.slide span {
  display: inline-block; }

.cd-headline.slide .cd-words-wrapper {
  vertical-align: top; }

.cd-headline.slide b {
  opacity: 0;
  top: .2em; }

.cd-headline.slide b.is-visible {
  top: 0;
  opacity: 1;
  -webkit-animation: slide-in 0.6s;
  -moz-animation: slide-in 0.6s;
  animation: slide-in 0.6s; }

.cd-headline.slide b.is-hidden {
  -webkit-animation: slide-out 0.6s;
  -moz-animation: slide-out 0.6s;
  animation: slide-out 0.6s; }

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%); }
  60% {
    opacity: 1;
    -moz-transform: translateY(20%); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0); }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%); } }
@-moz-keyframes slide-out {
  0% {
    opacity: 1;
    -moz-transform: translateY(0); }
  60% {
    opacity: 0;
    -moz-transform: translateY(120%); }
  100% {
    opacity: 0;
    -moz-transform: translateY(100%); } }
@keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); } }
.da-thumbs {
  position: relative;
  padding: 0; }

.da-thumbs li {
  background: #fff;
  position: relative; }

.da-thumbs li a,
.da-thumbs li a img {
  display: block;
  position: relative; }

.da-thumbs li a {
  overflow: hidden; }

.da-thumbs li a div {
  position: absolute;
  background-color: rgba(10, 179, 137, 0.7);
  background-image: url("../images/Work__Vignette.png");
  width: 100%;
  height: 100%;
  text-align: center; }

.da-thumbs li a div div {
  position: relative;
  display: block;
  border: 6px solid white;
  margin: 5.5% auto;
  width: 90%;
  height: 82%; }
  @media (min-width: 768px) {
    .da-thumbs li a div div {
      border: 8px solid white;
      margin: 1.33333em auto 0;
      width: 334px;
      height: 185px; } }
  @media (min-width: 992px) {
    .da-thumbs li a div div {
      border: 10px solid white;
      margin: 1.6em auto 0;
      width: 436px;
      height: 243px; } }
  @media (min-width: 1200px) {
    .da-thumbs li a div div {
      border: 12px solid white;
      margin: 2.06667em auto 0;
      width: 525px;
      height: 290px; } }

.da-thumbs li a div div span:first-child {
  display: block;
  margin: 14% 20px;
  padding: 2.5% 0;
  font-size: 1.33333em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
  @media (min-width: 450px) {
    .da-thumbs li a div div span:first-child {
      padding: 4% 0;
      font-size: 1.4em;
      letter-spacing: 1px; } }
  @media (min-width: 600px) {
    .da-thumbs li a div div span:first-child {
      padding: 6% 0;
      font-size: 1.53333em; } }
  @media (min-width: 768px) {
    .da-thumbs li a div div span:first-child {
      padding: 0.8em 0;
      margin: 20px 50px 11px;
      font-size: 1.2em;
      border-bottom: 2px solid rgba(255, 255, 255, 0.5); } }
  @media (min-width: 992px) {
    .da-thumbs li a div div span:first-child {
      padding: 1.06667em 0;
      margin: 30px 60px 19px;
      font-size: 1.33333em; } }
  @media (min-width: 1200px) {
    .da-thumbs li a div div span:first-child {
      padding: 1.06667em 0;
      margin: 40px 60px 21px;
      font-size: 1.53333em; } }

.thumbnail__tags {
  font-style: italic;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: .5px; }
  @media (min-width: 768px) {
    .thumbnail__tags {
      font-size: 1.06667em; } }
  @media (min-width: 992px) {
    .thumbnail__tags {
      font-size: 1.2em; } }

.thumbnail__tags--mobile {
  margin-top: 18%;
  display: block;
  text-align: center; }
  @media (min-width: 458px) {
    .thumbnail__tags--mobile {
      margin-top: 20%;
      font-size: 1.26667em; } }
  @media (min-width: 552px) {
    .thumbnail__tags--mobile {
      margin-top: 22%;
      font-size: 1.33333em; } }
  @media (min-width: 660px) {
    .thumbnail__tags--mobile {
      margin-top: 22.5%;
      font-size: 1.46667em; } }

.glyphicon {
  color: #fff;
  position: relative;
  top: 28%; }
  @media (min-width: 458px) {
    .glyphicon {
      top: 31%; } }
  @media (min-width: 552px) {
    .glyphicon {
      top: 35%; } }
  @media (min-width: 660px) {
    .glyphicon {
      top: 38%;
      font-size: 1.26667em; } }

/*# sourceMappingURL=main.css.map */
