body, html, .pattern {
  height: 100%; }

body {
  font-size: 15px;
  line-height: 1.4;
  font-family: "abril-titling", "Garamond", serif;
  font-weight: 400;
  font-style: normal; }

nav {
  background-color: white;
  height: 51.7px;
  transition: top 0.2s ease-in-out; }

h2 {
  margin-bottom: 0.33333em;
  font-size: 1.6em;
  text-align: center; }

h3 {
  text-transform: uppercase;
  color: #808285;
  text-align: center;
  font-size: 1.46667em;
  position: relative;
  bottom: 1em;
  height: 45px;
  letter-spacing: .75px; }
  @media (min-width: 768px) {
    h3 {
      bottom: 41px; } }

h4 {
  text-transform: uppercase;
  color: #808285;
  text-align: center;
  font-size: 1.2em;
  position: relative;
  bottom: 1.86667em;
  letter-spacing: .75px; }

h5 {
  color: #808285;
  font-size: 1.2em; }

.btn {
  font-size: 1.26667em;
  letter-spacing: 2px;
  text-transform: uppercase; }

p {
  margin-bottom: 1.33333em; }

button {
  margin-top: 2em;
  background-color: #0ab389;
  color: #fff; }

form {
  margin-bottom: 50px;
  padding: 0;
  position: relative;
  bottom: 20px; }

.intro {
  text-align: left; }

.navbar {
  border-bottom: 1px solid rgba(128, 130, 133, 0.2); }

.newSection {
  padding-top: 6.66667em;
  padding-bottom: 6.66667em; }
  @media (min-width: 768px) {
    .newSection {
      padding-top: 10em;
      padding-bottom: 10em; } }

.h2--L {
  display: block;
  margin: 0 auto 13.33333em;
  background-repeat: no-repeat;
  background-position: center;
  height: 91px; }

#portfolio h2 {
  background-image: url("../images/H1__FeaturedWork--XS-20.svg");
  background-size: 349px 57px; }
  @media (min-width: 768px) {
    #portfolio h2 {
      background-image: url("../images/H1__FeaturedWork--SM.png");
      background-size: auto; } }
  @media (min-width: 992px) {
    #portfolio h2 {
      background-image: url("../images/H1__FeaturedWork--L.png"); } }

#process h2 {
  background-image: url("../images/H1__Process--XS-22.svg");
  padding-bottom: 10px;
  background-size: 349px 57px; }
  @media (min-width: 768px) {
    #process h2 {
      background-image: url("../images/H1__Process--SM.png");
      background-size: auto; } }
  @media (min-width: 992px) {
    #process h2 {
      background-image: url("../images/H1__Process--L.png"); } }

#services h2 {
  background-image: url("../images/H1__Services--XS-21.svg");
  background-size: 349px 57px; }
  @media (min-width: 768px) {
    #services h2 {
      background-image: url("../images/H1__Services--SM.png");
      background-size: auto; } }
  @media (min-width: 992px) {
    #services h2 {
      background-image: url("../images/H1__Services--L.png"); } }

#about h2 {
  background-image: url("../images/H1__About--XS-23.svg");
  background-size: 349px 57px; }
  @media (min-width: 768px) {
    #about h2 {
      background-image: url("../images/H1__About--SM.png");
      background-size: auto; } }
  @media (min-width: 992px) {
    #about h2 {
      background-image: url("../images/H1__About--L.png"); } }

#contact h2 {
  background-image: url("../images/H1__Contact--XS-24.svg");
  background-size: 349px 57px; }
  @media (min-width: 768px) {
    #contact h2 {
      background-image: url("../images/H1__Contact--SM.png");
      background-size: auto; } }
  @media (min-width: 992px) {
    #contact h2 {
      background-image: url("../images/H1__Contact--L.png"); } }

.h2__description {
  font-style: italic;
  color: #939598;
  text-align: center;
  font-size: 1.13333em;
  position: relative;
  bottom: 1.53333em;
  margin-bottom: 2.66667em; }
  @media (min-width: 768px) {
    .h2__description {
      font-size: 1.2em; } }

.cd-fixed-bgtop {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed; }

.cd-fixed-bg {
  background-repeat: repeat;
  background-attachment: fixed; }

.cd-scrolling-bg {
  min-height: 100%; }

.navbar-nav li a {
  color: #808285;
  margin: 0;
  font-size: 1.13333em; }
  @media (min-width: 992px) {
    .navbar-nav li a {
      font-size: 1.2em; } }
  .navbar-nav li a:hover {
    color: #0ab389;
    background-color: inherit; }
  .navbar-nav li a:focus {
    background: none; }
  .navbar-nav li a.last {
    padding-right: 0; }

a.navbar-brand {
  color: #808285;
  font-size: 1.13333em; }
  @media (min-width: 992px) {
    a.navbar-brand {
      font-size: 1.2em; } }
  a.navbar-brand:hover {
    color: #0ab389;
    background-color: inherit; }
  a.navbar-brand:focus {
    color: #808285; }

.navbar-collapse {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 0; }
  @media (min-width: 768px) {
    .navbar-collapse {
      padding: 0; } }

.navbar-toggle {
  padding-right: 0; }
  .navbar-toggle:hover .icon-bar {
    background-color: #0ab389; }

#navbar ul {
  margin: 0; }

.icon-bar {
  background-color: #808285; }

.nav-up {
  top: -51.7px; }

.jumbotron__background {
  background-image: url("../images/Background_991px.jpg");
  background-position: center;
  background-size: contain, auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 932px; }
  @media (min-width: 992px) {
    .jumbotron__background {
      background-image: url("../images/Background_1199px.jpg"); } }
  @media (min-width: 1200px) {
    .jumbotron__background {
      background-image: url("../images/Background_2000px.jpg"); } }

#jumbotron {
  position: relative;
  display: block;
  text-align: center;
  height: 470px; }
  @media (min-width: 458px) {
    #jumbotron {
      height: 550px; } }
  @media (min-width: 768px) {
    #jumbotron {
      height: 635px; } }
  @media (min-width: 992px) {
    #jumbotron {
      height: 800px; } }
  @media (min-width: 1200px) {
    #jumbotron {
      height: 932px; } }

.home__graphic--atom {
  display: block;
  margin: 6em auto 0;
  max-width: 100%; }

.tagline {
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  width: 100%;
  font-size: 1.13333em;
  letter-spacing: 1px; }
  @media (min-width: 768px) {
    .tagline {
      top: 60.65%; } }
  @media (min-width: 992px) {
    .tagline {
      font-size: 1.4em;
      letter-spacing: 2px;
      top: 63.65%; } }
  @media (min-width: 1200px) {
    .tagline {
      font-size: 1.53333em;
      top: 58.65%; } }

.myanimation h1 {
  position: relative;
  color: #fff;
  letter-spacing: 2px;
  text-align: center; }
  .myanimation h1 .is-hidden {
    display: none; }
  @media (min-width: 768px) {
    .myanimation h1 {
      font-size: 4.4em;
      bottom: 28%; } }
  @media (min-width: 992px) {
    .myanimation h1 {
      font-size: 5.73333em;
      bottom: 30%; } }
  @media (min-width: 1200px) {
    .myanimation h1 {
      font-size: 6.4em;
      bottom: 48%; } }

.intro--mobile {
  font-size: 2em;
  line-height: 1.8em;
  display: inline;
  color: #fff; }
  @media (min-width: 458px) {
    .intro--mobile {
      font-size: 2.4em; } }
  @media (min-width: 552px) {
    .intro--mobile {
      font-size: 3.06667em; } }

.intro--graphic {
  display: block;
  margin: 10.66667em auto 0;
  width: 240px; }
  @media (min-width: 458px) {
    .intro--graphic {
      width: 260px; } }
  @media (min-width: 552px) {
    .intro--graphic {
      width: 290px;
      margin: 10em auto 0; } }

.intro--atomgraphic {
  position: absolute; }
  @media (min-width: 610px) {
    .intro--atomgraphic {
      width: 100%; } }

.portfolio li {
  color: #0ab389;
  list-style: none;
  padding: 0; }
.portfolio li a img {
  width: 100%;
  height: auto;
  margin: 10px 0;
  -webkit-box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.11);
  border: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .portfolio li a img {
      box-shadow: none;
      border: none;
      margin: 0; } }
.portfolio ul {
  padding-bottom: 3.33333em;
  padding-left: 0; }
  @media (min-width: 768px) {
    .portfolio ul {
      padding-bottom: 3.33333em; } }

.slick_carousel button {
  background-color: #d9d9d9;
  height: 30px;
  width: 20px;
  text-indent: -9999px;
  outline: none;
  padding: 0;
  border: none;
  position: absolute; }
  .slick_carousel button.slick-prev {
    display: none;
    left: 1500px; }
    @media (min-width: 768px) {
      .slick_carousel button.slick-prev {
        background-image: url("../images/Carousel__Arrow--Left.png");
        background-position: center;
        background-repeat: no-repeat;
        bottom: -17px;
        left: 104px;
        display: initial;
        left: 239px; } }
    @media (min-width: 992px) {
      .slick_carousel button.slick-prev {
        left: 351px; } }
    @media (min-width: 1200px) {
      .slick_carousel button.slick-prev {
        left: 448px; } }
  .slick_carousel button.slick-next {
    display: none;
    left: 1500px; }
    @media (min-width: 768px) {
      .slick_carousel button.slick-next {
        background-image: url("../images/Carousel__Arrow--Right.png");
        background-position: center;
        background-repeat: no-repeat;
        bottom: -17px;
        right: 106px;
        left: auto;
        display: initial;
        right: 241px; } }
    @media (min-width: 992px) {
      .slick_carousel button.slick-next {
        right: 353px; } }
    @media (min-width: 1200px) {
      .slick_carousel button.slick-next {
        right: 450px; } }
  .slick_carousel button:hover {
    background-color: #939598; }
  .slick_carousel button:active {
    background-color: #0ab389; }

.slick-dots {
  width: 300px;
  margin: 0 auto;
  padding: 0;
  text-align: center; }
  .slick-dots .slick-active button {
    background-color: #0ab389; }
  .slick-dots li {
    display: inline-block;
    width: 50px;
    position: relative;
    right: 30px; }
    .slick-dots li button {
      background-color: #d9d9d9;
      height: 16px;
      width: 16px;
      text-indent: -9999px;
      box-shadow: none;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      border: none;
      padding: 0;
      outline: none;
      margin: 50px 20px; }
      .slick-dots li button:hover {
        background-color: #939598; }
      .slick-dots li button:active, .slick-dots li button:focus {
        background-color: #0ab389; }

#services {
  background-image: url("../images/Services_Background.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #939598;
  padding-top: 120px;
  padding-bottom: 120px; }
  @media (min-width: 768px) {
    #services {
      padding-top: 150px;
      padding-bottom: 130px; } }
  #services h2, #services p {
    padding: 0.33333em 1em 0 1em; }
  #services h3 {
    margin-bottom: 30px; }
    @media (min-width: 552px) {
      #services h3 {
        margin-bottom: 0px; } }
  #services ul {
    list-style: none;
    margin-left: -2.75em;
    position: relative;
    bottom: 25px; }
    @media (min-width: 768px) {
      #services ul {
        padding-bottom: 20px; } }
    @media (min-width: 992px) {
      #services ul {
        padding-bottom: 0px; } }
    #services ul li {
      font-style: normal; }

.emphasis {
  font-style: italic;
  font-size: 1.33333em; }

.icons {
  fill: none;
  stroke: #0ab389;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-miterlimit: 10; }

#services svg {
  position: relative; }

.lightbulb {
  width: 94px;
  top: -10px; }

.eyeball {
  width: 145px;
  top: 22px; }
  .eyeball .visible {
    display: inline; }
  @media (min-width: 768px) {
    .eyeball {
      top: 18px; } }

.laptop {
  width: 150px;
  top: 8px; }
  @media (min-width: 768px) {
    .laptop {
      top: 5px;
      margin-top: 0; } }

.design ul {
  margin-bottom: 25px; }
  @media (min-width: 992px) {
    .design ul {
      margin-bottom: 0; } }

#process {
  height: 1080px;
  padding-top: 130px; }
  @media (min-width: 552px) {
    #process {
      height: 955px; } }
  @media (min-width: 768px) {
    #process {
      height: 1025px;
      padding-top: 130px; } }
  @media (min-width: 992px) {
    #process {
      height: 865px;
      padding-top: 150px; } }
  @media (min-width: 1200px) {
    #process {
      height: 835px; } }

@media (min-width: 992px) {
  .process__content {
    padding-top: 40px; } }
.process__content li {
  list-style: none; }
.process__content h4 {
  margin-top: 50px; }
  @media (min-width: 992px) {
    .process__content h4 {
      margin-top: 0; } }
.process__content p {
  font-style: normal;
  color: #808285;
  text-align: center;
  margin-top: -20px; }
.process__content ol {
  padding-left: 0; }

.process svg {
  height: 64px;
  display: relative;
  bottom: 20px;
  transform-origin: 35.33px 35px;
  cursor: default; }

.process .inactive .outer {
  fill: #fff;
  stroke: #0ab389;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transform: scale(0.8); }
.process .inactive .inner {
  fill: #0ab389;
  transform: scale(0); }
.process .inactive path {
  fill: #808285; }
.process .inactive:hover .outer {
  transform: scale(1); }
.process .inactive:hover .inner {
  fill: #0ab389;
  transform: scale(1); }
.process .inactive:hover path {
  transition: fill;
  fill: #fff; }

.process path,
.process .inner,
.process .outer {
  transition: .3s ease-in-out;
  transform-origin: 50% 50%;
  transform-origin: 35.33px 35px; }

#about {
  padding-top: 19%;
  padding-bottom: 23%;
  background-image: url("../images/About__Background.jpg");
  background-size: cover;
  background-position: center; }
  @media (min-width: 992px) {
    #about {
      padding-top: 10em;
      padding-bottom: 10em; } }
  #about h2 {
    color: #0ab389;
    padding: 0; }
  #about p {
    color: #808285;
    padding: 0;
    text-align: left; }
  #about a {
    color: #0ab389; }

.aboutpic {
  display: block;
  width: 212px;
  margin: 0 auto 30px; }

.content {
  text-align: center; }
  @media (min-width: 992px) {
    .content {
      text-align: left; } }
  .content h3 {
    font-size: 1.13333em;
    letter-spacing: normal;
    color: #0ab389; }
  .content ul, .content li {
    padding: 0;
    list-style: none;
    color: #808285;
    font-style: italic; }

#contact {
  padding-top: 8em;
  padding-bottom: 6.66667em; }
  @media (min-width: 992px) {
    #contact {
      padding-top: 10em;
      padding-bottom: 10em; } }
  #contact h2 {
    color: #0ab389; }
  #contact p.error_message {
    color: red;
    text-align: center;
    position: relative;
    bottom: 2em; }
  #contact p.form_submission {
    color: #0ab389;
    text-align: center;
    position: relative;
    bottom: 2em;
    padding-bottom: 8em; }

.form-left input {
  height: 34.75px; }

.form-control:focus {
  box-shadow: 0 0 3px #0ab389;
  border: 1px solid #0ab389; }

.Submit__button {
  display: block;
  background: url("../images/Submit__Button--Sprite.png") no-repeat;
  height: 44px;
  width: 333px;
  margin: -15px auto 0;
  position: relative;
  top: 0px; }
  .Submit__button:hover {
    background-position: center center; }
  .Submit__button:active {
    background-position: center bottom; }
  @media (min-width: 992px) {
    .Submit__button {
      top: 380px; } }

.form_submission {
  color: #0ab389;
  text-align: center; }

.error_message {
  color: red;
  text-align: center; }

input[type="submit"] {
  background: #0ab389;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: .1em;
  line-height: inherit;
  padding: 0.84375em 0.875em 0.78125em;
  text-transform: uppercase;
  margin: 40px auto 0;
  display: block;
  width: 300px;
  position: relative;
  top: 1.33333em;
  outline: none; }

input[type="submit"]:hover {
  color: #d9d9d9; }

input[type="submit"]:active {
  color: #808285;
  box-shadow: none; }

.social {
  height: 90px;
  padding-top: 15px;
  background-color: #0ab389;
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  top: 3px; }
  .social--home {
    background-color: #0ab389; }
  @media (min-width: 544px) {
    .social {
      height: 60px;
      padding-top: 12px; } }
  @media (min-width: 992px) {
    .social {
      margin-top: 40px; } }

.copyright {
  color: #fff;
  font-style: italic;
  position: relative;
  margin: 0 auto;
  top: 40px;
  text-align: center; }
  @media (min-width: 544px) {
    .copyright {
      margin: 0 0 0 30px;
      top: 9px;
      text-align: left; } }

.group {
  width: 226px;
  height: auto;
  display: table;
  position: relative;
  bottom: 17px;
  margin: 0 auto;
  padding-left: 9px; }
  @media (min-width: 544px) {
    .group {
      float: right;
      margin: 0 30px 0 0;
      bottom: 17px;
      padding-left: 0; } }

.size {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 10px; }
  @media (min-width: 544px) {
    .size {
      float: right; } }

#twitter,
#linkedin,
#behance,
#github,
#codepen {
  fill: #fff; }
  #twitter:hover,
  #linkedin:hover,
  #behance:hover,
  #github:hover,
  #codepen:hover {
    fill: #d9d9d9; }

.coverImage {
  background-repeat: no-repeat;
  background-position: left;
  height: 600px;
  position: relative; }
  @media (min-width: 992px) {
    .coverImage {
      height: 700px; } }
  .coverImage__Kaleidoscope {
    background-image: url("../images/portfolio/Kaleidoscope__coverImage--backdrop.jpg"); }
  .coverImage__SPR {
    background-image: url("../images/portfolio/SPR__coverImage--backdrop.png");
    background-position: center;
    top: 103px; }
  .coverImage__BroncoDay {
    background-color: #f26529; }
  .coverImage__CAC {
    background-image: url("../images/portfolio/CAC__coverImage--backdrop.jpg");
    top: 55px;
    background-size: contain; }
  .coverImage__SDI {
    background-image: url("../images/portfolio/SDI__coverImage--logoVignette.png"), url("../images/portfolio/SDI__coverImage--backdrop.jpg"); }
  .coverImage__GetIn {
    background-image: url("../images/portfolio/GetIn__coverImage--backdrop.png");
    background-position: center;
    top: 95px;
    background-size: 110%; }
    @media (min-width: 992px) {
      .coverImage__GetIn {
        background-size: 115%;
        top: 55px; } }
    @media (min-width: 1200px) {
      .coverImage__GetIn {
        background-size: auto; } }
  .coverImage__WC {
    background-image: url("../images/portfolio/WC__coverImage--backdrop.png");
    background-position: center;
    top: 145px; }
    @media (min-width: 768px) {
      .coverImage__WC {
        top: 275px; } }
  .coverImage__HackerH {
    background-image: url("../images/portfolio/HackerH__coverImage--backdrop.jpg");
    background-size: cover;
    background-position: center; }
  .coverImage__SumConf {
    background-image: url("../images/portfolio/SumConf__coverImage--backdrop.jpg");
    background-position: center;
    background-size: cover; }
  .coverImage__AR2014 {
    background-image: url("../images/portfolio/AR2014__coverImage--backdrop.jpg");
    background-position: right;
    background-size: contain; }
  .coverImage__AR2015 {
    background-image: url("../images/portfolio/AR2015__coverImage--backdrop.jpg");
    background-position: center;
    background-size: cover; }
  .coverImage img {
    margin: 0 auto;
    display: block;
    position: relative;
    width: auto; }
  .coverImage .logo__Kaleidoscope {
    padding: 140px 0 0;
    max-width: 75%; }
    @media (min-width: 992px) {
      .coverImage .logo__Kaleidoscope {
        padding: 240px 0 0; } }
  .coverImage .logo__SDI {
    top: 130px; }
    @media (min-width: 992px) {
      .coverImage .logo__SDI {
        top: 200px; } }
  .coverImage .logo__BroncoDay {
    top: 80px;
    width: 700px; }
    @media (min-width: 992px) {
      .coverImage .logo__BroncoDay {
        top: 140px;
        width: 850px; } }
    @media (min-width: 1200px) {
      .coverImage .logo__BroncoDay {
        top: 50px;
        width: auto; } }
  .coverImage .logo__GetIn {
    top: 180px;
    width: 80%; }
    @media (min-width: 992px) {
      .coverImage .logo__GetIn {
        top: 210px; } }
    @media (min-width: 1200px) {
      .coverImage .logo__GetIn {
        top: 180px;
        width: auto; } }
  .coverImage .logo__WC {
    bottom: 150px;
    width: 300px; }
    @media (min-width: 992px) {
      .coverImage .logo__WC {
        bottom: 180px;
        width: 375px; } }
  .coverImage .logo__HackerH {
    top: 100px;
    width: 300px; }
    @media (min-width: 992px) {
      .coverImage .logo__HackerH {
        width: 375px; } }
  .coverImage .logo__SPR {
    width: 70%;
    max-width: 372px;
    padding-bottom: 10px; }
    @media (min-width: 992px) {
      .coverImage .logo__SPR {
        max-width: 410px;
        top: 30px; } }

.portfolio__content--backdrop {
  background-color: #fff;
  padding: 50px 0 0;
  position: relative;
  bottom: 60px;
  border-top: 1px solid rgba(128, 130, 133, 0.2); }
  @media (min-width: 768px) {
    .portfolio__content--backdrop {
      bottom: 100px;
      border-top: none;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.13);
      -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.13);
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.13); } }

.portfolio__divider {
  height: 0;
  border-top: 1px solid rgba(128, 130, 133, 0.2);
  width: 100%;
  max-width: 1170px;
  margin: 50px 0 0;
  position: relative; }
  @media (min-width: 768px) {
    .portfolio__divider {
      bottom: 25px; } }
  @media (min-width: 992px) {
    .portfolio__divider {
      bottom: 0; } }

.introSection {
  padding-top: 70px; }
  @media (min-width: 768px) {
    .introSection {
      padding: 20px 0 0; } }
  .introSection h1 {
    height: 124px;
    width: 97%;
    margin: 30px auto 50px;
    background-repeat: no-repeat;
    background-position: center; }
  .introSection .h1__Kaleidoscope {
    background-image: url("../images/portfolio/Kaleidoscope__h1--xsV2-76.svg");
    background-size: 311px auto; }
    @media (min-width: 768px) {
      .introSection .h1__Kaleidoscope {
        background-image: url("../images/portfolio/Kaleidoscope__h1--sm.png");
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .introSection .h1__Kaleidoscope {
        background-image: url("../images/portfolio/Kaleidoscope__h1.png"); } }
  .introSection .h1__SPR {
    background-image: url("../images/portfolio/SPR__h1--xsV2-77.svg");
    background-size: 311px auto; }
    @media (min-width: 768px) {
      .introSection .h1__SPR {
        background-image: url("../images/portfolio/SPR__h1--sm.png");
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .introSection .h1__SPR {
        background-image: url("../images/portfolio/SPR__h1.png"); } }
  .introSection .h1__BroncoDay {
    background-image: url("../images/portfolio/BroncoDay__h1--xsV2-78.svg");
    background-size: 311px auto; }
    @media (min-width: 768px) {
      .introSection .h1__BroncoDay {
        background-image: url("../images/portfolio/BroncoDay__h1--sm.png");
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .introSection .h1__BroncoDay {
        background-image: url("../images/portfolio/BroncoDay__h1.png"); } }
  .introSection .h1__CAC {
    background-image: url("../images/portfolio/CAC__h1--xsV2-72.svg");
    background-size: 311px auto; }
    @media (min-width: 768px) {
      .introSection .h1__CAC {
        background-image: url("../images/portfolio/CAC__h1--sm.png");
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .introSection .h1__CAC {
        background-image: url("../images/portfolio/CAC__h1.png"); } }
  .introSection .h1__SDI {
    background-image: url("../images/portfolio/SDI__h1--xsV2-75.svg");
    background-size: 311px auto; }
    @media (min-width: 768px) {
      .introSection .h1__SDI {
        background-image: url("../images/portfolio/SDI__h1--sm.png");
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .introSection .h1__SDI {
        background-image: url("../images/portfolio/SDI__h1.png"); } }
  .introSection .h1__GetIn {
    background-image: url("../images/portfolio/GetIn__h1--xsV2-74.svg");
    background-size: 311px auto; }
    @media (min-width: 768px) {
      .introSection .h1__GetIn {
        background-image: url("../images/portfolio/GetIn__h1--sm.png");
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .introSection .h1__GetIn {
        background-image: url("../images/portfolio/GetIn__h1.png"); } }
  .introSection .h1__WC {
    background-image: url("../images/portfolio/WC__h1--xsV2-73.svg");
    background-size: 311px auto; }
    @media (min-width: 768px) {
      .introSection .h1__WC {
        background-image: url("../images/portfolio/WC__h1--sm.png");
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .introSection .h1__WC {
        background-image: url("../images/portfolio/WC__h1.png"); } }
  .introSection .h1__HackerH {
    background-image: url("../images/portfolio/HackerH__h1--xsV2-79.svg");
    background-size: 311px auto; }
    @media (min-width: 768px) {
      .introSection .h1__HackerH {
        background-image: url("../images/portfolio/HackerH__h1--sm.png");
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .introSection .h1__HackerH {
        background-image: url("../images/portfolio/HackerH__h1.png"); } }
  .introSection .h1__SumConf {
    background-image: url("../images/portfolio/SumConf__h1--xsV2-71.svg");
    background-size: 311px auto; }
    @media (min-width: 768px) {
      .introSection .h1__SumConf {
        background-image: url("../images/portfolio/SumConf__h1--sm.png");
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .introSection .h1__SumConf {
        background-image: url("../images/portfolio/SumConf__h1.png"); } }
  .introSection .h1__AR2014 {
    background-image: url("../images/portfolio/AR2014__h1--xsV2-70.svg");
    background-size: 311px auto; }
    @media (min-width: 768px) {
      .introSection .h1__AR2014 {
        background-image: url("../images/portfolio/AR2014__h1--sm.png");
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .introSection .h1__AR2014 {
        background-image: url("../images/portfolio/AR2014__h1.png"); } }
  .introSection h2 {
    font-style: normal;
    text-transform: uppercase;
    color: #808285;
    font-size: 1.26667em;
    position: relative;
    bottom: 25px;
    text-align: center;
    padding-bottom: 0; }
    @media (min-width: 768px) {
      .introSection h2 {
        font-size: 1.4em;
        bottom: 45px;
        left: 2px;
        padding-bottom: 0; } }
  .introSection p {
    font-style: normal;
    color: #808285;
    padding: 0 35px 0 0;
    font-size: 1.2em;
    line-height: 1.48; }
    @media (min-width: 1200px) {
      .introSection p {
        font-size: 1.4em; } }
  .introSection__dropcap {
    width: 68px;
    height: 68px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    float: left;
    position: relative;
    top: 6px; }
    @media (min-width: 1200px) {
      .introSection__dropcap {
        width: 82px;
        height: 82px; } }
    .introSection__dropcap--Kaleidoscope {
      background-image: url("../images/portfolio/Kaleidoscope__introSection--dropcap.png");
      margin: 0 5px 10px 0; }
    .introSection__dropcap--SPR {
      background-image: url("../images/portfolio/SPR__introSection--dropcap.png");
      margin: 0 -15px 10px 0;
      right: 10px; }
    .introSection__dropcap--BroncoDay {
      background-image: url("../images/portfolio/BroncoDay__introSection--dropcap.png");
      margin: 0 -10px 10px 0;
      right: 10px; }
    .introSection__dropcap--CAC {
      background-image: url("../images/portfolio/CAC__introSection--dropcap.png");
      margin: 0 -10px 10px 0;
      right: 10px; }
    .introSection__dropcap--SDI {
      background-image: url("../images/portfolio/SDI__introSection--dropcap.png");
      margin: 0 -15px 10px 0;
      right: 10px; }
    .introSection__dropcap--GetIn {
      background-image: url("../images/portfolio/GetIn__introSection--dropcap.png");
      margin: 0 -10px 10px 0;
      right: 10px; }
    .introSection__dropcap--WC {
      background-image: url("../images/portfolio/WC__introSection--dropcap.png");
      margin: 0 -10px 10px 0;
      right: 10px; }
    .introSection__dropcap--HackerH {
      background-image: url("../images/portfolio/HackerH__introSection--dropcap.png");
      margin: 0 5px 10px 0;
      right: 0; }
    .introSection__dropcap--SumConf {
      background-image: url("../images/portfolio/SumConf__introSection--dropcap.png");
      margin: 0 -15px 10px 0;
      right: 10px; }
    .introSection__dropcap--AR2014 {
      background-image: url("../images/portfolio/AR2014__introSection--dropcap.png");
      margin: 0 -10px 10px 0;
      right: 10px; }
  .introSection__allcaps {
    text-transform: uppercase; }
  .introSection__CreativeBrief {
    border: 2px solid;
    padding: 0;
    height: 229px; }
    @media (min-width: 1200px) {
      .introSection__CreativeBrief {
        height: 281px; } }
    .introSection__CreativeBrief--Kaleidoscope {
      border-color: #094160; }
    .introSection__CreativeBrief--SPR {
      border-color: #cb3b2d; }
    .introSection__CreativeBrief--BroncoDay {
      border-color: #f26529; }
    .introSection__CreativeBrief--SDI {
      border-color: #48afd5; }
    .introSection__CreativeBrief--GetIn {
      border-color: #06357a; }
    .introSection__CreativeBrief--WC {
      border-color: #c08ea3; }
    .introSection__CreativeBrief--HackerH {
      border-color: #193f6f; }
    .introSection__CreativeBrief--SumConf, .introSection__CreativeBrief--AR2014 {
      border-color: #005daa; }
    .introSection__CreativeBrief dl {
      color: #808285;
      padding: 31px 11px;
      font-size: 1.13333em; }
      @media (min-width: 1200px) {
        .introSection__CreativeBrief dl {
          padding: 25px 13px;
          font-size: 1.13333em; } }
      .introSection__CreativeBrief dl dt {
        font-style: normal; }
      .introSection__CreativeBrief dl dd {
        font-style: italic; }
      .introSection__CreativeBrief dl .dd__Kaleidoscope {
        margin-bottom: 11px; }
        @media (min-width: 1200px) {
          .introSection__CreativeBrief dl .dd__Kaleidoscope {
            margin-top: 8px;
            margin-bottom: 23px; } }
      .introSection__CreativeBrief dl .dd__SPR {
        margin-bottom: 32px; }
        @media (min-width: 1200px) {
          .introSection__CreativeBrief dl .dd__SPR {
            margin-top: 4px;
            margin-bottom: 18px; } }
      .introSection__CreativeBrief dl .dd__SumConf, .introSection__CreativeBrief dl .dd__AR2014, .introSection__CreativeBrief dl .dd__SDI, .introSection__CreativeBrief dl .dd__GetIn {
        margin-bottom: 32px; }
        @media (min-width: 1200px) {
          .introSection__CreativeBrief dl .dd__SumConf, .introSection__CreativeBrief dl .dd__AR2014, .introSection__CreativeBrief dl .dd__SDI, .introSection__CreativeBrief dl .dd__GetIn {
            margin-top: 12px;
            margin-bottom: 25px; } }
      .introSection__CreativeBrief dl .dd__CAC, .introSection__CreativeBrief dl .dd__WC, .introSection__CreativeBrief dl .dd__BroncoDay {
        margin-top: 10px;
        margin-bottom: 29px; }
        @media (min-width: 1200px) {
          .introSection__CreativeBrief dl .dd__CAC, .introSection__CreativeBrief dl .dd__WC, .introSection__CreativeBrief dl .dd__BroncoDay {
            margin-top: 12px;
            margin-bottom: 25px; } }
    .introSection__CreativeBrief--titlebar {
      width: 100%;
      height: 50px;
      margin: 0; }
      .introSection__CreativeBrief--titlebarKaleidoscope {
        background-color: #094160; }
      .introSection__CreativeBrief--titlebarSPR {
        background-color: #cb3b2d; }
      .introSection__CreativeBrief--titlebarBroncoDay {
        background-color: #f26529; }
      .introSection__CreativeBrief--titlebarSDI {
        background-color: #48afd5; }
      .introSection__CreativeBrief--titlebarGetIn {
        background-color: #06357a; }
      .introSection__CreativeBrief--titlebarWC {
        background-color: #c08ea3; }
      .introSection__CreativeBrief--titlebarHackerH {
        background-color: #193f6f; }
      .introSection__CreativeBrief--titlebarSumConf, .introSection__CreativeBrief--titlebarAR2014 {
        background-color: #005daa; }
      .introSection__CreativeBrief--titlebar h3 {
        text-transform: capitalize;
        font-size: 1.26667em;
        margin: 0;
        position: relative;
        top: 13px;
        color: #fff; }

.portfolioDisplay img {
  width: 100%;
  max-width: 1170px; }
  @media (min-width: 768px) {
    .portfolioDisplay img {
      margin-top: -25px; } }
  @media (min-width: 992px) {
    .portfolioDisplay img {
      margin-top: 0; } }

.portfolio__subNav {
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative; }
  @media (min-width: 768px) {
    .portfolio__subNav {
      margin-bottom: 90px; } }
  .portfolio__subNav svg {
    height: 54px;
    margin: 0 auto;
    width: 100%; }
    @media (min-width: 768px) {
      .portfolio__subNav svg {
        height: 64px; } }

.Next__button {
  background-color: #d9d9d9;
  height: 30px;
  width: 20px;
  background-image: url("../images/Carousel__Arrow--Right.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 60%;
  bottom: 15px;
  display: inline-block; }
  @media (min-width: 768px) {
    .Next__button {
      left: 58.5%; } }
  @media (min-width: 992px) {
    .Next__button {
      left: 59%; } }
  .Next__button:hover {
    background-color: #939598; }
  .Next__button:active {
    background-color: #0ab389; }

.Previous__button {
  background-color: #d9d9d9;
  height: 30px;
  width: 20px;
  background-image: url("../images/Carousel__Arrow--Left.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 35%;
  top: 7px;
  display: inline-block; }
  @media (min-width: 768px) {
    .Previous__button {
      left: 40%; } }
  .Previous__button:hover {
    background-color: #939598; }
  .Previous__button:active {
    background-color: #0ab389; }

.Overview__button {
  display: block;
  background: url("../images/portfolio/Overview__Button--Sprite.png") no-repeat;
  height: 44px;
  width: 45px;
  margin: 0 auto; }
  .Overview__button:hover {
    background-position: center center; }
  .Overview__button:active {
    background-position: center bottom; }

.myanimation {
  height: 13em;
  position: absolute;
  top: 41%;
  width: 100%;
  white-space: nowrap;
  text-align: center; }

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: center; }

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0; }

.cd-words-wrapper b.is-visible {
  position: relative; }

.no-js .cd-words-wrapper b {
  opacity: 0; }

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1; }

.cd-headline.slide span {
  display: inline-block; }

.cd-headline.slide .cd-words-wrapper {
  vertical-align: top; }

.cd-headline.slide b {
  opacity: 0;
  top: .2em; }

.cd-headline.slide b.is-visible {
  top: 0;
  opacity: 1;
  -webkit-animation: slide-in 0.6s;
  -moz-animation: slide-in 0.6s;
  animation: slide-in 0.6s; }

.cd-headline.slide b.is-hidden {
  -webkit-animation: slide-out 0.6s;
  -moz-animation: slide-out 0.6s;
  animation: slide-out 0.6s; }

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%); }
  60% {
    opacity: 1;
    -moz-transform: translateY(20%); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0); }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%); } }
@-moz-keyframes slide-out {
  0% {
    opacity: 1;
    -moz-transform: translateY(0); }
  60% {
    opacity: 0;
    -moz-transform: translateY(120%); }
  100% {
    opacity: 0;
    -moz-transform: translateY(100%); } }
@keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); } }
.da-thumbs {
  position: relative;
  padding: 0; }

.da-thumbs li {
  background: #fff;
  position: relative; }

.da-thumbs li a,
.da-thumbs li a img {
  display: block;
  position: relative; }

.da-thumbs li a {
  overflow: hidden; }

.da-thumbs li a div {
  position: absolute;
  background-color: rgba(10, 179, 137, 0.7);
  background-image: url("../images/Work__Vignette.png");
  width: 100%;
  height: 100%;
  text-align: center; }

.da-thumbs li a div div {
  position: relative;
  display: block;
  border: 6px solid white;
  margin: 5.5% auto;
  width: 90%;
  height: 82%; }
  @media (min-width: 768px) {
    .da-thumbs li a div div {
      border: 8px solid white;
      margin: 1.33333em auto 0;
      width: 334px;
      height: 185px; } }
  @media (min-width: 992px) {
    .da-thumbs li a div div {
      border: 10px solid white;
      margin: 1.6em auto 0;
      width: 436px;
      height: 243px; } }
  @media (min-width: 1200px) {
    .da-thumbs li a div div {
      border: 12px solid white;
      margin: 2.06667em auto 0;
      width: 525px;
      height: 290px; } }

.da-thumbs li a div div span:first-child {
  display: block;
  margin: 14% 20px;
  padding: 2.5% 0;
  font-size: 1.33333em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
  @media (min-width: 450px) {
    .da-thumbs li a div div span:first-child {
      padding: 4% 0;
      font-size: 1.4em;
      letter-spacing: 1px; } }
  @media (min-width: 600px) {
    .da-thumbs li a div div span:first-child {
      padding: 6% 0;
      font-size: 1.53333em; } }
  @media (min-width: 768px) {
    .da-thumbs li a div div span:first-child {
      padding: 0.8em 0;
      margin: 20px 50px 11px;
      font-size: 1.2em;
      border-bottom: 2px solid rgba(255, 255, 255, 0.5); } }
  @media (min-width: 992px) {
    .da-thumbs li a div div span:first-child {
      padding: 1.06667em 0;
      margin: 30px 60px 19px;
      font-size: 1.33333em; } }
  @media (min-width: 1200px) {
    .da-thumbs li a div div span:first-child {
      padding: 1.06667em 0;
      margin: 40px 60px 21px;
      font-size: 1.53333em; } }

.thumbnail__tags {
  font-style: italic;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: .5px; }
  @media (min-width: 768px) {
    .thumbnail__tags {
      font-size: 1.06667em; } }
  @media (min-width: 992px) {
    .thumbnail__tags {
      font-size: 1.2em; } }

.thumbnail__tags--mobile {
  margin-top: 18%;
  display: block;
  text-align: center; }
  @media (min-width: 458px) {
    .thumbnail__tags--mobile {
      margin-top: 20%;
      font-size: 1.26667em; } }
  @media (min-width: 552px) {
    .thumbnail__tags--mobile {
      margin-top: 22%;
      font-size: 1.33333em; } }
  @media (min-width: 660px) {
    .thumbnail__tags--mobile {
      margin-top: 22.5%;
      font-size: 1.46667em; } }

.glyphicon {
  color: #fff;
  position: relative;
  top: 28%; }
  @media (min-width: 458px) {
    .glyphicon {
      top: 31%; } }
  @media (min-width: 552px) {
    .glyphicon {
      top: 35%; } }
  @media (min-width: 660px) {
    .glyphicon {
      top: 38%;
      font-size: 1.26667em; } }

/*# sourceMappingURL=main.css.map */
