// ========================================
// Nav
// ========================================

.navbar-brand,
.navbar-nav li a {
  color: $color-primary;
  padding: .7em 1em;
}

.navbar-brand {
  font-size: em(23px);
}

.navbar-nav li a {
  font-size: em(22px);
}

.icon-bar {
  background-color: $color-primary;
}


// ========================================
// Jumbotron
// ========================================

#jumbotron {
  height: em(700px);
  padding: em(90px) 1em;
  margin-bottom: 0;

  @include mq(small) {
    height: em(800px);
  }


}

.cd-bg-1 {
    h1 {
      background-repeat: no-repeat;
      background-position: center bottom;
      font-size: em(56px);
      color: $color-reverse;
      letter-spacing: 2px;
      text-align: center;

      @include mq(small) {
        font-size: em(66px);
      }

      @include mq(medium) {
        font-size: em(86px);
      }

      @include mq(large) {
        font-size: em(96px);
    }
  }

  p {
      font-size: em(24px);
      padding-top: em(120px);
      @include mq(small) {
      font-size: em(30px);
      }
  }
}

.lead {
  color: $color-reverse;
  letter-spacing: .5px;
  text-align: center;
}


// ========================================
// Portfolio
// ========================================

.portfolio {
  padding: 90px 1em 130px;

  h2, li {
    color: $color-primary;
    list-style: none;
  }

  p {
    color: $color-secondary;
    text-align: center;
    padding: em(5px) em(15px) 0 em(15px);
  }

  li a img {
  width: 100%;
  height: auto;


  }
}


// ========================================
// Services
// ========================================

#services {
  background-image: url("../images/IconPattern_Repeatable.png"), url("../images/Silk_Texture_Repeatable.jpg");
  padding: 90px 1em;
  text-align: center;
  color: $color-reverse;

  .container {
    max-width: 800px;
  }


  h2, p {
    padding: em(5px) em(15px) 0 em(15px);
  }

  ul {
    list-style: none;
    margin-left: -2.75em;
  }
}

.emphasis {
  font-style: $font-style--secondary;
  font-size: em(17px);
}

.icons {
  fill: none;
  stroke: $color-reverse;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-miterlimit:10;
}

.svgcontainer {
  height: 145px;

  .lightbulb {
    width: 94px;
    padding-top: 30px;
  }

  .eyeball {
    width: 145px;
    padding-top: 62px;

    .visible {
      display:inline;
    }

    @include mq(small) {
      padding-top: 45px;
    }
  }

  .laptop {
    width: 150px;
    padding-top: 48px;

    @include mq(small) {
      padding-top: 40px;
    }
  }
}

// ========================================
// About
// ========================================

#about {
  padding: 90px 1em;

  .container {
    max-width: 800px;
    padding: 0;
  }

  .content {
    max-width: 780px;
    margin: 0 auto;
  }

  h2 {
    color: $color-primary;
    padding: 0;
  }
  p {
    color: $color-secondary;
    padding: 0;
    text-align: center;
  }
}

.aboutpic {
  display: block;
  width: 212px;
  margin: 0 auto 20px;
}

.content {

  h3 {
    font-size: em(17px);
    letter-spacing: normal;
    color: $color-primary;
  }
  ul, li {
    padding: 0;
    list-style: none;
    color: $color-secondary;
    font-style: $font-style--secondary;
  }
}



// ========================================
// Contact
// ========================================

#contact {
  background-color: #f1f2f2;
  padding-top: 90px;
  padding-bottom: 90px;

  .container {
    max-width: 900px;
  }

  h2 {
    color: $color-primary;
  }
  p {
    color: $color-secondary;
  }
}

.form-control:focus {
  box-shadow: 0 0 3px $color-primary;
  border: 1px solid $color-primary;
}


// ========================================
// Footer
// ========================================
.social {
  height: 100px;
  padding-top: 30px;
  background-color: $color-primary;
  position: relative;
}

.size {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.group {
  width: 350px;
}

#twitter,
#linkedin,
#behance,
#github,
#codepen {
  fill: $color-reverse;

  &:hover {
    fill: $color-secondary;
  }
}
