

// Nav ===================================

.navbar-nav li a {
  color: $color-secondary;
  margin: 0;
  font-size: em(17px);

  @include mq(medium) {
    font-size: em(18px);
  }

  &:hover {
    color: $color-primary;
    background-color: inherit;
  }

  &:focus {
    background: none;
  }

  &.last {
    padding-right: 0;
  }
}

a.navbar-brand {
  color: $color-secondary;
  font-size: em(17px);

  @include mq(medium) {
    font-size: em(18px);
  }

  &:hover {
    color: $color-primary;
    background-color: inherit;
  }
  &:focus {
    color: $color-secondary;
  }
}

.navbar-collapse {
  background-color: rgba(255, 255, 255, .8);
  padding: 10px 0;

  @include mq(small) {
    padding: 0;
  }
}

.navbar-toggle {
    padding-right: 0;

    &:hover .icon-bar {
      background-color: $color-primary;
    }
}

#navbar ul {
  margin: 0;
}

.icon-bar {
  background-color: $color-secondary;
}

.nav-up {
  top: -51.7px;
}



// Jumbotron ==============================

.jumbotron__background {
  background-image: url("../images/Background_991px.jpg");
  background-position: center;
  background-size: contain, auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 932px;

  @include mq(medium) {
      background-image: url("../images/Background_1199px.jpg");
  }

  @include mq(large) {
      background-image: url("../images/Background_2000px.jpg");
  }
}

#jumbotron {
  position: relative;
  display: block;
  text-align: center;
  height: 470px;

  @media (min-width: 458px ) {
    height: 550px;
  }

  @include mq (small) {
    height: 635px;
  }

  @include mq (medium) {
    height: 800px;
  }

  @include mq (large) {
    height: 932px;
  }
}

.home__graphic--atom {
  display: block;
  margin: 6em auto 0;
  max-width: 100%;
}

.tagline {
  text-transform: uppercase;
  color: $color-reverse;
  position: absolute;
  width: 100%;
  font-size: em(17px);
  letter-spacing: 1px;

  @include mq (small) {
    top: 60.65%;
  }

  @include mq (medium) {
    font-size: em(21px);
    letter-spacing: 2px;
    top: 63.65%;
  }

  @include mq (large) {
    font-size: em(23px);
    top: 58.65%;
  }
}

.myanimation {
    h1 {
      position: relative;
      color: $color-reverse;
      letter-spacing: 2px;
      text-align: center;

      .is-hidden {
        display: none;
      }

      @include mq(small) {
        font-size: em(66px);
        bottom: 28%;
      }

      @include mq(medium) {
        font-size: em(86px);
        bottom: 30%;
      }

      @include mq(large) {
        font-size: em(96px);
        bottom: 48%;
    }
  }
}

.intro--mobile {
  font-size: em(30px);
  line-height: em(27px);
  display: inline;
  color: $color-reverse;

  @media (min-width: 458px ) {
    font-size: em(36px);
  }

  @media (min-width: 552px ) {
    font-size: em(46px);
  }
}

.intro--graphic {
  display: block;
  margin: em(160px) auto 0;
  width: 240px;

  @media (min-width: 458px ) {
    width: 260px;
  }

  @media (min-width: 552px ) {
    width: 290px;
    margin: em(150px) auto 0;
  }
}

.intro--atomgraphic {
  position: absolute;

  @media (min-width: 610px ) {
    width: 100%;
  }
}


// Portfolio ==============================

.portfolio {
  li {
    color: $color-primary;
    list-style: none;
    padding: 0;

  }

  li a img {
    width: 100%;
    height: auto;
    margin: 10px 0;
    -webkit-box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.11);
    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.11);
    border: 1px solid darken( $color-reverse, 15% );

    @include mq(small){
      box-shadow: none;
      border: none;
      margin: 0;
    }

  }

  ul {
    padding-bottom: em(50px);
    padding-left: 0;

    @include mq(small) {
      padding-bottom: em(50px);
    }
  }
}

.slick_carousel {

  & button {
    background-color: darken( $color-reverse, 15% );
    height: 30px;
    width: 20px;
    text-indent: -9999px;
    outline: none;
    padding: 0;
    border: none;
    position: absolute;


    &.slick-prev {
      display: none;
      left: 1500px;

      @include mq(small) {
        background-image: url("../images/Carousel__Arrow--Left.png");
        background-position: center;
        background-repeat: no-repeat;
        bottom: -17px;
        left: 104px;
        display: initial;
        left: 239px;
      }

      @include mq(medium) {
        left: 351px;
      }

      @include mq(large) {
        left: 448px;
      }
    }

    &.slick-next {
      display: none;
      left: 1500px;

      @include mq(small) {
        background-image: url("../images/Carousel__Arrow--Right.png");
        background-position: center;
        background-repeat: no-repeat;
        bottom: -17px;
        right: 106px;
        left: auto;
        display: initial;
        right: 241px;
      }

      @include mq(medium) {
        right: 353px;
      }

      @include mq(large) {
        right: 450px;
      }
    }

    &:hover {
      background-color: $color-light;
    }

    &:active {
      background-color: $color-primary;
    }
  }

}

.slick-dots {
    width: 300px;
    margin: 0 auto;
    padding: 0;
    text-align: center;

  .slick-active {
    & button {
      background-color: $color-primary;
    }
  }

  & li {
    display: inline-block;
    width: 50px;
    position: relative;
    right: 30px;

    & button {
      background-color: darken( $color-reverse, 15% );
      height: 16px;
      width: 16px;
      text-indent: -9999px;
      box-shadow: none;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      border: none;
      padding: 0;
      outline: none;
      margin: 50px 20px;

      &:hover {
        background-color: $color-light;
      }

      &:active, &:focus {
        background-color: $color-primary;
      }
    }
  }
}



// Services ===============================

#services {
  background-image: url("../images/Services_Background.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: $color-light;
  padding-top: 120px;
  padding-bottom: 120px;


  @include mq(small) {
    padding-top: 150px;
    padding-bottom: 130px;
  }


  h2, p {
    padding: em(5px) em(15px) 0 em(15px);
  }

  h3 {
    margin-bottom: 30px;

    @media (min-width: 552px ) {
      margin-bottom: 0px;
    }
  }

  ul {
    list-style: none;
    margin-left: -2.75em;
    position: relative;
    bottom: 25px;

    @include mq(small) {
      padding-bottom: 20px;
    }

    @include mq(medium) {
      padding-bottom: 0px;
    }

    li {
      font-style: $font-style--base;
    }
  }
}

.emphasis {
  font-style: $font-style--secondary;
  font-size: em(20px);
}

.icons {
  fill: none;
  stroke: $color-primary;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-miterlimit:10;
}

// .svgcontainer {
//   height: 145px;
//   position: relative;
//   bottom: 40px;
  // transform-origin: 50% 50%;
  // transform-origin: 35.33px 35px;

  // @include mq(medium) {
  //   bottom: 50px;
  // }

#services svg {
  position: relative;
}

.lightbulb {
  width: 94px;
  top: -10px;
}

.eyeball {
  width: 145px;
  top: 22px;

  .visible {
    display:inline;
  }

  @include mq(small) {
    top: 18px;
  }
}

.laptop {
  width: 150px;
  top: 8px;

  @include mq(small) {
    top: 5px;
    margin-top: 0;
  }
}


.design ul {
  margin-bottom: 25px;

  @include mq(medium) {
    margin-bottom: 0;
  }
}

// Process ==================================

#process {
  padding-top: 120px;
  padding-bottom: 120px;

  @include mq (small) {
    padding-top: 130px;
  }

  @include mq (medium) {
    padding-top: 150px;
  }
}

.process__content {

  @include mq (medium) {
    padding-top: 40px;
  }

  li {
    list-style: none;
  }

  h4 {
    margin-top: 50px;

    @include mq (medium) {
      margin-top: 0;
    }
  }

  p {
    font-style: $font-style--base;
    color: $color-secondary;
    text-align: center;
    margin-top: -20px;
  }

  ol {
    padding-left: 0;
  }
}

.process svg {
  height: 64px;
  display: relative;
  bottom: 20px;
  transform-origin: 35.33px 35px;
  cursor: default;
}

.process .inactive {
  .outer {
      fill: #fff;  // white
      stroke: #0ab389; // emerald
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      transform: scale(.8);
   }

   .inner {
      fill: #0ab389; // emerald
      transform: scale(0);
    }

    path {
      fill: #808285;  // dark gray
    }

    &:hover {
      .outer {
        transform: scale(1);
      }

      .inner {
         fill: #0ab389; // emerald
         transform: scale(1);
      }

      path {
        transition: fill;
        fill: #fff;  // white
      }
    } // end hover
}

.process path,
.process .inner,
.process .outer {
  transition: .3s ease-in-out;
  transform-origin: 50% 50%;
  transform-origin: 35.33px 35px;
}




// About ==================================

#about {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../images/About__Background.jpg");
  background-size: cover;
  background-position: center;

  @include mq(medium) {
    padding-top: em(150px);
    padding-bottom: em(150px);
  }

  h2 {
    color: $color-primary;
    padding: 0;
  }
  p {
    color: $color-secondary;
    padding: 0;
    text-align: left;
  }

  a {
    color: $color-primary;
  }
}

.aboutpic {
  display: block;
  width: 212px;
  margin: 0 auto 30px;
}

.content {
  text-align: center;

  @include mq(medium) {
    text-align: left;
  }

  h3 {
    font-size: em(17px);
    letter-spacing: normal;
    color: $color-primary;


  }
  ul, li {
    padding: 0;
    list-style: none;
    color: $color-secondary;
    font-style: $font-style--secondary;
  }
}




// Contact ===============================

#contact {
  padding-top: em(120px);
  padding-bottom: em(100px);

  @include mq(medium) {
    padding-top: em(150px);
    padding-bottom: em(150px);
  }

  h2 {
    color: $color-primary;
  }

  p.error_message {
    color: red;
    text-align: center;
    position: relative;
    bottom: em(30px);
  }

  p.form_submission {
    color: $color-primary;
    text-align: center;
    position: relative;
    bottom: em(30px);
    padding-bottom: em(120px);
  }
}

.form-left input {
  height: 34.75px;
}

.form-control:focus {
  box-shadow: 0 0 3px $color-primary;
  border: 1px solid $color-primary;
}

.Submit__button {
   display: block;
   background: url("../images/Submit__Button--Sprite.png") no-repeat;
   height: 44px;
   width: 333px;
   margin: -15px auto 0;
   position: relative;
   top: 0px;

   &:hover {
          background-position: center center;
   }

   &:active {
          background-position: center bottom;
   }

   @include mq(medium) {
     top: 380px;
   }
}

.form_submission {
  color: $color-primary;
  text-align: center;
}

.error_message {
  color: red;
  text-align: center;
}

input[type="submit"] {
	background: #0ab389;
	border: 0;
	border-radius: 2px;
	color: #fff;
	font-family: inherit;
	font-weight: inherit;
	letter-spacing: .1em;
	line-height: inherit;
	padding: 0.84375em 0.875em 0.78125em;
	text-transform: uppercase;
  margin: 40px auto 0;
  display: block;
  width: 300px;
  position: relative;
  top: em(20px);
  outline: none;
}

input[type="submit"]:hover {
  color: darken( $color-reverse, 15% );
}

input[type="submit"]:active {
  color: $color-secondary;
  box-shadow: none;
}


// Footer ==================================

.social {
  height: 90px;
  padding-top: 15px;
  background-color: $color-primary;
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  top: 3px;

  &--home {
    background-color: $color-primary;
  }

  @media (min-width: 544px ) {
    height: 60px;
    padding-top: 12px;
  }

  @include mq(medium) {
    margin-top: 40px;
  }
}

.copyright {
  color: $color-reverse;
  font-style: $font-style--secondary;
  position: relative;
  margin: 0 auto;
  top: 40px;
  text-align: center;

  @media (min-width: 544px ) {
    margin: 0 0 0 30px;
    top: 9px;
    text-align: left;
  }
}

.group {
  width: 226px;
  height: auto;
  display: table;
  position: relative;
  bottom: 17px;
  margin: 0 auto;
  padding-left: 9px;

  @media (min-width: 544px ) {
    float: right;
    margin: 0 30px 0 0;
    bottom: 17px;
    padding-left: 0;

  }
}

.size {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 10px;

  @media (min-width: 544px ) {
    float: right;
  }
}

#twitter,
#linkedin,
#behance,
#github,
#codepen {
  fill: $color-reverse;

  &:hover {
    fill: darken( $color-reverse, 15% );
  }
}
