// Cover Image ==============================

.coverImage {
  background-repeat: no-repeat;
  background-position: left;
  height: 700px;
  position: relative;

  &__Kaleidoscope {
    background-image: url('../images/portfolio/Kaleidoscope__coverImage--backdrop.jpg');
  }

  &__SPR {
    background-image: url('../images/portfolio/SPR__coverImage--backdrop.png');
    top: 95px;
  }

  img {
    margin: 0 auto;
    display: block;
  }

  .logo__ {
    &Kaleidoscope {
      padding: 240px 0 0;
    }
  }
}

// Intro Sections ==============================

.portfolio__content--backdrop {
    background-color: #fff;
    padding: 50px 0 0;
    position: relative;
    bottom: 100px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.13);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.13);
}

.portfolio__divider {
  height: 0;
  border-top: 1px solid $color-subtle;
  width: 1170px;
  margin: 50px 0 85px;
}

.introSection {
  padding: 20px 0 0;

  h1 {
    height: 95.42px;
    width: 1020px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .h1__ {
    &Kaleidoscope {
      background-image: url('../images/portfolio/Kaleidoscope__h1.png');
    }

    &SPR {
      background-image: url('../images/portfolio/SPR__h1.png');
    }
  }

  h2 {
    font-style: $font-style--base;
    text-transform: uppercase;
    color: $color-secondary;
    font-size: em(21px);
    letter-spacing: 1px;
    position: relative;
    bottom: 45px;
  }

  p {
    font-style: $font-style--base;
    color: $color-secondary;
    font-size: em(21px);
    line-height: 1.58;
    padding: 0 35px 0 0;
  }

  &__dropcap {
    width: 82px;
    height: 82px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    float: left;
    position: relative;
    top: 9px;

    &--Kaleidoscope {
      background-image: url('../images/portfolio/Kaleidoscope__introSection--dropcap.png');
      margin: 0 5px 10px 0;
    }

    &--SPR {
      background-image: url('../images/portfolio/SPR__introSection--dropcap.png');
      margin: 0 -15px 10px 0;
      right: 10px;
    }
  }

  &__allcaps {
    text-transform: uppercase;
  }

  &__CreativeBrief {
    border: 2px solid;
    padding: 0;
    margin-top: 8px;
    height: 281px;

    &--Kaleidoscope {
      border-color:  #094160;
    }

    &--SPR {
      border-color: #cb3b2d;
    }

    dl {
      padding: 31px 15px;
      color: $color-secondary;
      font-size: em(17px);

      dt {
        font-style: $font-style--base;
      }

      dd {
        font-style: $font-style--secondary;
      }

      .dd__ {
        &Kaleidoscope {
          margin-bottom: 30px;
        }

        &SPR {
          margin-bottom: 20px;
        }
      }
    } // &__CreativeBrief

    &--titlebar {
      width: 100%;
      height: 50px;
      margin: 0;

      &Kaleidoscope {
        background-color: #094160;
      }

      &SPR {
        background-color: #cb3b2d;
      }

      h3 {
        text-transform: capitalize;
        font-size: em(19px);
        margin: 0;
        position: relative;
        top: 13px;
        color: #fff;
      }
    }
  }  // &--titlebar
} // .introSection



// Portfolio Display ==============================

.portfolioDisplay img {
  width: 1170px;
}



// Bottom Navigation ==============================

.portfolio__subNav {
  margin-bottom: 90px;

  svg {
    height: 64px;
    margin: 0 auto;
    width: 100%;
  }
}

.portfolio__subNav--button {
  .outer {
      fill: #fff;  // white
      stroke: #0ab389; // emerald
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      transform: scale(.8);
   }

   .inner {
      fill: #0ab389; // emerald
      transform: scale(0);
    }

    polyline {
      fill: none;
      stroke: #808285;  // dark gray
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }

    &:hover {
      .outer {
        transform: scale(1);
      }

      .inner {
         transform: scale(1);
      }

      polyline {
        fill: none;
        stroke: #fff; // white
        stroke-width: 2.5;
        stroke-linecap: round;
        stroke-miterlimit: 10;
      }
    } // end hover
}

.portfolio__subNav polyline,
.portfolio__subNav .inner,
.portfolio__subNav .outer {
  transition: .3s ease-in-out;
  transform-origin: 50% 50%;
}
