// Cover Image ==============================

.coverImage {
  background-repeat: no-repeat;
  background-position: left;
  height: 600px;
  position: relative;

  @include mq(medium) {
    height: 700px;
  }

  &__Kaleidoscope {
    background-image: url('../images/portfolio/Kaleidoscope__coverImage--backdrop.jpg');
  }

  &__SPR {
    background-image: url('../images/portfolio/SPR__coverImage--backdrop.png');
    background-position: center;
    top: 103px;
  }

  &__BroncoDay {
    background-color: #f26529;
  }

  &__CAC {
    background-image: url('../images/portfolio/CAC__coverImage--backdrop.jpg');
    top: 55px;
    background-size: contain;
  }

  &__SDI {
    background-image: url('../images/portfolio/SDI__coverImage--logoVignette.png'), url('../images/portfolio/SDI__coverImage--backdrop.jpg');
  }

  &__GetIn {
    background-image: url('../images/portfolio/GetIn__coverImage--backdrop.png');
    background-position: center;
    top: 95px;
    background-size: 110%;

    @include mq(medium) {
      background-size: 115%;
      top: 55px;
    }

    @include mq(large) {
      background-size: auto;
    }
  }

  &__WC {
    background-image: url('../images/portfolio/WC__coverImage--backdrop.png');
    background-position: center;
    top: 145px;

    @include mq(small) {
      top: 275px;
    }
  }

  &__HackerH {
    background-image: url('../images/portfolio/HackerH__coverImage--backdrop.jpg');
    background-size: cover;
    background-position: center;

  }

  &__SumConf{
    background-image: url('../images/portfolio/SumConf__coverImage--backdrop.jpg');
    background-position: center;
    background-size: cover;
  }

  &__AR2014{
    background-image: url('../images/portfolio/AR2014__coverImage--backdrop.jpg');
    background-position: right;
    background-size: contain;
  }

  &__AR2015{
    background-image: url('../images/portfolio/AR2015__coverImage--backdrop.jpg');
    background-position: center;
    background-size: cover;
  }

  img {
    margin: 0 auto;
    display: block;
    position: relative;
    width: auto;

  }

  .logo__ {
    &Kaleidoscope {
      padding: 140px 0 0;
      max-width: 75%;

      @include mq(medium) {
        padding: 240px 0 0;
      }
    }

    &SDI {
      top: 130px;

      @include mq(medium) {
        top: 200px;
      }
    }

    &BroncoDay {
      top: 80px;
      width: 700px;

      @include mq(medium) {
        top: 140px;
        width: 850px;
      }

      @include mq(large) {
        top: 50px;
        width: auto;
      }
    }

    &GetIn {
      top: 180px;
      width: 80%;

      @include mq(medium) {
        top: 210px;

      }

      @include mq(large) {
        top: 180px;
        width: auto;
      }
    }

    &WC {
      bottom: 150px;
      width: 300px;

      @include mq(medium) {
        bottom: 180px;
        width: 375px;
      }
    }

    &HackerH {
      top: 100px;
      width: 300px;

      @include mq(medium) {
        width: 375px;
      }
    }

    &SPR {
      width: 70%;
      max-width: 372px;
      padding-bottom: 10px;

      @include mq(medium) {
        max-width: 410px;
        top: 30px;
      }
    }
  }
}

// Intro Sections ==============================

.portfolio__content--backdrop {
    background-color: #fff;
    padding: 50px 0 0;
    position: relative;
    bottom: 60px;
    border-top: 1px solid $color-subtle;

    @include mq(small) {
      bottom: 100px;
      border-top: none;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.13);
      -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.13);
      box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.13);
    }
}

.portfolio__divider {
  height: 0;
  border-top: 1px solid $color-subtle;
  width: 100%;
  max-width: 1170px;
  margin: 50px 0 0;
  position: relative;

  @include mq(small) {
    bottom: 25px;
  }

  @include mq(medium) {
    bottom: 0;
  }
}

.introSection {

  padding-top: 70px;

  @include mq(small) {
    padding: 20px 0 0;
  }

  h1 {
    height: 124px;
    width: 97%;
    margin: 30px auto 50px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .h1__ {
    &Kaleidoscope {
      background-image: url('../images/portfolio/Kaleidoscope__h1--xsV2-76.svg');
      background-size: 311px auto;

      @include mq (small) {
        background-image: url('../images/portfolio/Kaleidoscope__h1--sm.png');
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0;
      }

      @include mq (large) {
        background-image: url('../images/portfolio/Kaleidoscope__h1.png');
      }
    }

    &SPR {
      background-image: url('../images/portfolio/SPR__h1--xsV2-77.svg');
      background-size: 311px auto;

      @include mq (small) {
        background-image: url('../images/portfolio/SPR__h1--sm.png');
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0;
      }

      @include mq (large) {
        background-image: url('../images/portfolio/SPR__h1.png');
      }
    }

    &BroncoDay {
      background-image: url('../images/portfolio/BroncoDay__h1--xsV2-78.svg');
      background-size: 311px auto;

      @include mq (small) {
        background-image: url('../images/portfolio/BroncoDay__h1--sm.png');
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0;
      }

      @include mq (large) {
        background-image: url('../images/portfolio/BroncoDay__h1.png');
      }
    }

    &CAC {
      background-image: url('../images/portfolio/CAC__h1--xsV2-72.svg');
      background-size: 311px auto;

      @include mq (small) {
        background-image: url('../images/portfolio/CAC__h1--sm.png');
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0;
      }

      @include mq (large) {
        background-image: url('../images/portfolio/CAC__h1.png');
      }
    }

    &SDI {
      background-image: url('../images/portfolio/SDI__h1--xsV2-75.svg');
      background-size: 311px auto;

      @include mq (small) {
        background-image: url('../images/portfolio/SDI__h1--sm.png');
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0;
      }

      @include mq (large) {
        background-image: url('../images/portfolio/SDI__h1.png');
      }
    }

    &GetIn {
      background-image: url('../images/portfolio/GetIn__h1--xsV2-74.svg');
      background-size: 311px auto;

      @include mq (small) {
        background-image: url('../images/portfolio/GetIn__h1--sm.png');
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0;
      }

      @include mq (large) {
        background-image: url('../images/portfolio/GetIn__h1.png');
      }
    }

    &WC {
      background-image: url('../images/portfolio/WC__h1--xsV2-73.svg');
      background-size: 311px auto;

      @include mq (small) {
        background-image: url('../images/portfolio/WC__h1--sm.png');
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0;
      }

      @include mq (large) {
        background-image: url('../images/portfolio/WC__h1.png');
      }
    }

    &HackerH {
      background-image: url('../images/portfolio/HackerH__h1--xsV2-79.svg');
      background-size: 311px auto;

      @include mq (small) {
        background-image: url('../images/portfolio/HackerH__h1--sm.png');
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0;
      }

      @include mq (large) {
        background-image: url('../images/portfolio/HackerH__h1.png');
      }
    }

    &SumConf {
      background-image: url('../images/portfolio/SumConf__h1--xsV2-71.svg');
      background-size: 311px auto;

      @include mq (small) {
        background-image: url('../images/portfolio/SumConf__h1--sm.png');
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0;
      }

      @include mq (large) {
        background-image: url('../images/portfolio/SumConf__h1.png');
      }
    }

    &AR2014 {
      background-image: url('../images/portfolio/AR2014__h1--xsV2-70.svg');
      background-size: 311px auto;



      @include mq (small) {
        background-image: url('../images/portfolio/AR2014__h1--sm.png');
        background-size: auto;
        height: 95.42px;
        margin-top: 0;
        margin-bottom: 0;
      }

      @include mq (large) {
        background-image: url('../images/portfolio/AR2014__h1.png');
      }
    }
  }

  h2 {
    font-style: $font-style--base;
    text-transform: uppercase;
    color: $color-secondary;
    font-size: em(19px);
    position: relative;
    bottom: 25px;
    text-align: center;
    padding-bottom: 0;

    @include mq (small) {
      font-size: em(21px);
      bottom: 45px;
      left: 2px;
      padding-bottom: 0;
    }
  }

  p {
    font-style: $font-style--base;
    color: $color-secondary;
    padding: 0 35px 0 0;
    font-size: em(18px);
    line-height: 1.48;

    @include mq(large) {
      font-size: em(21px);

    }
  }

  &__dropcap {
    width: 68px;
    height: 68px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    float: left;
    position: relative;
    top: 6px;

    @include mq(large) {
      width: 82px;
      height: 82px;
    }

    &--Kaleidoscope {
      background-image: url('../images/portfolio/Kaleidoscope__introSection--dropcap.png');
      margin: 0 5px 10px 0;
    }

    &--SPR {
      background-image: url('../images/portfolio/SPR__introSection--dropcap.png');
      margin: 0 -15px 10px 0;
      right: 10px;
    }

    &--BroncoDay {
      background-image: url('../images/portfolio/BroncoDay__introSection--dropcap.png');
      margin: 0 -10px 10px 0;
      right: 10px;
    }

    &--CAC {
      background-image: url('../images/portfolio/CAC__introSection--dropcap.png');
      margin: 0 -10px 10px 0;
      right: 10px;
    }

    &--SDI {
      background-image: url('../images/portfolio/SDI__introSection--dropcap.png');
      margin: 0 -15px 10px 0;
      right: 10px;
    }

    &--GetIn {
      background-image: url('../images/portfolio/GetIn__introSection--dropcap.png');
      margin: 0 -10px 10px 0;
      right: 10px;
    }

    &--WC {
      background-image: url('../images/portfolio/WC__introSection--dropcap.png');
      margin: 0 -10px 10px 0;
      right: 10px;
    }

    &--HackerH {
      background-image: url('../images/portfolio/HackerH__introSection--dropcap.png');
      margin: 0 5px 10px 0;
      right: 0;
    }

    &--SumConf {
      background-image: url('../images/portfolio/SumConf__introSection--dropcap.png');
      margin: 0 -15px 10px 0;
      right: 10px;
    }

    &--AR2014 {
      background-image: url('../images/portfolio/AR2014__introSection--dropcap.png');
      margin: 0 -10px 10px 0;
      right: 10px;
    }
  }

  &__allcaps {
    text-transform: uppercase;
  }

  &__CreativeBrief {
    border: 2px solid;
    padding: 0;
    height: 229px;

    @include mq(large) {
      height: 281px;
    }

    &--Kaleidoscope {
      border-color:  #094160;
    }

    &--SPR {
      border-color: #cb3b2d;
    }

    &--BroncoDay {
      border-color: #f26529;
    }

    &--SDI {
      border-color: #48afd5;
    }

    &--GetIn {
      border-color: #06357a;
    }

    &--WC {
      border-color: #c08ea3;
    }

    &--HackerH {
      border-color: #193f6f;
    }

    &--SumConf,
    &--AR2014 {
      border-color: #005daa;
    }

    dl {
      color: $color-secondary;
      padding: 31px 11px;
      font-size: em(17px);

      @include mq(large) {
        padding: 25px 13px;
        font-size: em(17px);
      }

      dt {
        font-style: $font-style--base;
      }

      dd {
        font-style: $font-style--secondary;
      }

      .dd__ {
        &Kaleidoscope {
          margin-bottom: 11px;

          @include mq(large) {
            margin-top: 8px;
            margin-bottom: 23px;
          }
        }

        &SPR, {
          margin-bottom: 32px;

          @include mq(large) {
            margin-top: 4px;
            margin-bottom: 18px;
          }
        }

        &SumConf,
        &AR2014,
        &SDI,
        &GetIn {
          margin-bottom: 32px;

          @include mq(large) {
            margin-top: 12px;
            margin-bottom: 25px;

          }
        }

        &CAC,
        &WC,
        &BroncoDay {
          margin-top: 10px;
          margin-bottom: 29px;

          @include mq(large) {
            margin-top: 12px;
            margin-bottom: 25px;
          }
        }
      }
    } // &__CreativeBrief

    &--titlebar {
      width: 100%;
      height: 50px;
      margin: 0;

      &Kaleidoscope {
        background-color: #094160;
      }

      &SPR {
        background-color: #cb3b2d;
      }

      &BroncoDay {
        background-color: #f26529;
      }

      &SDI {
        background-color: #48afd5;
      }

      &GetIn {
        background-color: #06357a;
      }

      &WC {
        background-color: #c08ea3;
      }

      &HackerH {
        background-color: #193f6f;
      }

      &SumConf,
      &AR2014 {
        background-color: #005daa;
      }

      h3 {
        text-transform: capitalize;
        font-size: em(19px);
        margin: 0;
        position: relative;
        top: 13px;
        color: #fff;
      }
    }
  }  // &--titlebar
} // .introSection



// Portfolio Display ==============================

.portfolioDisplay img {
  width: 100%;
  max-width: 1170px;

  @include mq(small) {
    margin-top: -25px;
  }

  @include mq(medium) {
    margin-top: 0;
  }
}



// Bottom Navigation ==============================

.portfolio__subNav {
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;

  @include mq(small) {
    margin-bottom: 90px;
  }

  svg {
    height: 54px;
    margin: 0 auto;
    width: 100%;

    @include mq(small) {
      height: 64px;
    }
  }
}

.Next__button {
  background-color: darken( $color-reverse, 15% );
  height: 30px;
  width: 20px;
  background-image: url("../images/Carousel__Arrow--Right.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 60%;
  bottom: 15px;
  display: inline-block;

  @include mq(small) {
    left: 58.5%;
  }

  @include mq(medium) {
    left: 59%;
  }

  &:hover {
    background-color: $color-light;
  }

  &:active {
    background-color: $color-primary;
  }
}


.Previous__button {
  background-color: darken( $color-reverse, 15% );
  height: 30px;
  width: 20px;
  background-image: url("../images/Carousel__Arrow--Left.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 35%;
  top: 7px;
  display: inline-block;

  @include mq(small) {
    left: 40%;
  }

  &:hover {
    background-color: $color-light;
  }

  &:active {
    background-color: $color-primary;
  }
}

.Overview__button {
  background-image: url("../images/portfolio/Home__Button.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 31px;
  width: 32px;
  position: absolute;
  left: 46%;
  top: 3px;
  margin: 0 auto;
  background-color: darken( $color-reverse, 15% );

  &:hover {
    background-color: $color-light;
  }

  &:active {
    background-color: $color-primary;
  }

  @include mq(small) {
    left: 48.5%;
  }

  @include mq(medium) {
    left: 49%;
  }


}
