.portfolio__page {
  margin-top: em(20px);

  @include mq(small) {
    margin-top: em(60px);
  }
}

.sidebar {
  @include mq (small) {
    position: fixed;
    z-index: 1000;
    max-width: em(270px);
    display: block;
    padding-right: 3em;
    margin-left: 1em;
  }
  @include mq (medium) {
    max-width: em(320px);
  }
  @include mq (large) {
    max-width: em(390px);
  }
}

.portfolio__text {
    color: $color-secondary;
    text-align: center;

    @include mq(small) {
      text-align: left;

    }
}

.portfolio__title {
  margin-bottom: em(5px);
  font-size: em(24px);
}

.portfolio__type {
  text-transform: uppercase;

  @include mq(small) {
    text-align: left;
  }
}

.portfolio__client {
  font-style: $font-style--secondary;
  margin-top: em(15px);
  padding: em(10px) 0;
  border-top: 1px solid $color-subtle;
  border-bottom: 1px solid $color-subtle;
}



main img {
  max-width: 100%;
}

.portfolio__image--primary {
  margin-top: em(10px);

  @include mq(small) {
    margin-top: em(28px);
  }
}
