.portfolio__page {
  margin-top: em(20px);


  @include mq(small) {
    margin-top: em(60px);
    margin-bottom: em(30px);
  }
}


// ========================================
// Sidebar
// ========================================

.sidebar {
  @include mq (small) {
    position: fixed;
    z-index: 1000;
    max-width: em(270px);
    display: block;
    padding-right: 3em;
    margin-left: 1em;
  }
  @include mq (medium) {
    max-width: em(320px);
  }
  @include mq (large) {
    max-width: em(390px);
  }
}

.portfolio__text {
    color: $color-secondary;
    text-align: center;

    @include mq(small) {
      text-align: left;

    }
}

.portfolio__title {
  margin-bottom: em(5px);
  font-size: em(25px);
  padding-top: em(30px);

  @include mq(small) {
    padding-top: em(5px);
  }
}

.portfolio__type {
  text-transform: uppercase;
  font-size: em(19px);

  @include mq(small) {
    text-align: left;
  }
}

.portfolio__client {
  font-style: $font-style--secondary;
  padding: em(10px) 0;
  border-top: 1px solid $color-subtle;
  border-bottom: 1px solid $color-subtle;
  margin: em(22px) auto em(8px);

  @include mq(small) {
    margin: em(18px) auto;
  }
}

// ========================================
// Main Content
// ========================================

main img {
  max-width: 100%;
}

.portfolio__image--primary {
  margin-top: em(10px);

  @include mq(small) {
    margin-top: em(28px);
  }
}

// ========================================
// Navigation
// ========================================

.navigation {
  padding: 30px 0 30px 0;
  height: 100px;

  @include mq(small) {
    height: 40px;
    bottom: em(40px);
    padding: .5em 2em .5em 0;
    margin: 0;
  }

  .navigation__top {
    text-align: center;
    font-style: $font-style--secondary;
    color: $color-secondary;
    padding-top: em(10px);

    &:hover {
      color: $color-primary;
    }

    @include mq(small) {
      display: none;
    }
  }
}

.subnav {
  height: 100%;
  fill: none;
  stroke: #BCBEC0;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit:10;

  &:hover {
    stroke: $color-primary;
  }

}
