@import "_config.scss";
@import "_utilities.scss";


// ========================================
// Base Styles
// ========================================


body {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--primary;
  font-weight: $font-weight--medium;
}

nav {
  background-color: white;
}

h1, h2, h3, p, a, li {
  font-style: $font-style--base;

}

h2 {
  margin-bottom: em(5px);
  font-size: em(24px);
  text-align: center;
}

h3,
.btn {
  font-size: em(19px);
  letter-spacing: 2px;
}

p {
  margin-bottom: em(20px);
}

button {
  margin-top: em(30px);
  background-color: $color-primary;
  color: $color-reverse;
}
