@import "_config.scss";
@import "_utilities.scss";


// ========================================
// Base Styles
// ========================================


body, html, .pattern {
  height: 100%;
}

body {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--primary;
  font-weight: $font-weight--medium;
  font-style: $font-style--base;
}

nav {
  background-color: white;
  height: 51.7px;
  transition: top 0.2s ease-in-out;
}

h2 {
  margin-bottom: em(5px);
  font-size: em(24px);
  text-align: center;
}

h3 {
    text-transform: uppercase;
    color: $color-secondary;
    text-align: center;
    font-size: em(22px);
    position: relative;
    bottom: em(15px);
    height: 45px;
    letter-spacing: .75px;

    @include mq(small) {
      bottom: 41px;
    }
}

h4 {
    text-transform: uppercase;
    color: $color-secondary;
    text-align: center;
    font-size: em(18px);
    position: relative;
    bottom: em(28px);
    letter-spacing: .75px;
}

h5 {
  color: $color-secondary;
  font-size: em(18px);
}

.btn {
  font-size: em(19px);
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  margin-bottom: em(20px);
}

button {
  margin-top: em(30px);
  background-color: $color-primary;
  color: $color-reverse;
}



form {
  margin-bottom: 50px;
  padding: 0;
  position: relative;
  bottom: 20px;
}
