// Calculate em values

@function em($target, $context: $base__font-size) {
  @return ($target / $context) *1em;
}

@mixin debug ($hue: red) {
    border-color: $hue;
    border-width: 1px;
    border-style: solid;
}
