// ========================================
// Bootstrap
// ========================================

.row {
  padding: 0;
}

.col-xs-6,
.col-md-3,
.col-md-4,
.col-md-6,
.col-md-8 {
  padding: em(2px);
}

// ========================================
// Styles
// ========================================

.intro {
  text-align: left;
}

// Centering Content Vertically

.table {
  display: table;
  height: 100%;
}

.tablecell {
  display: table-cell;
  vertical-align: middle;
}

// ========================================
// Alternate Fixed and Scrolling
// ========================================
.cd-fixed-bgtop {
  min-height: 100%;
  background-size: cover;
	background-attachment: fixed;
}

.pattern {
  background-image: url("../images/Cover_BackgroundTile.jpg");
  background-attachment: fixed;
  min-height: 100%;
}

.cd-fixed-bg {
	min-height: 100%;
  background-repeat: repeat;
	background-attachment: fixed;
}

.cd-fixed-bg.cd-bg-1,
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../images/IconPattern_Repeatable.png"), url("../images/Silk_Texture_Repeatable.jpg");
}

.cd-fixed-bg.cd-bg-3 {
  background-image: url("../images/IconPattern_Repeatable.png");
}

.cd-scrolling-bg {
	min-height: 100%;
}
