// ========================================
// Styles
// ========================================

.intro {
  text-align: left;
}

.container {
  // @include debug;
}

.newSection {
  padding-top: 20%;
  padding-bottom: 20%;

  @include mq(small) {
    padding-top: em(150px);
    padding-bottom: em(150px);
  }
}


// H2 Headers ==============================

.h2--L {
  display: block;
  margin: 0 auto em(200px);
  background-repeat: no-repeat;
  background-position: center;
  height: 91px;
}

#portfolio h2 {
  background-image: url("../images/H1__FeaturedWork--XS.jpg");
  padding-bottom: 10px;

  @media (min-width: 552px ) {
    background-image: url("../images/H1__FeaturedWork--L.png");
  }
}

#process h2 {
  background-image: url("../images/H1__Process--XS.jpg");
  padding-bottom: 10px;

  @media (min-width: 552px ) {
    background-image: url("../images/H1__Process--L.png");
  }
}

#services h2 {
  background-image: url("../images/H1__Services--XS.png");

  @media (min-width: 552px ) {
    background-image: url("../images/H1__Services--L.png");
  }
}

#about h2 {
  background-image: url("../images/H1__About--XS.png");

  @media (min-width: 552px ) {
    background-image: url("../images/H1__About--L.png");
  }
}

#contact h2 {
  background-image: url("../images/H1__Contact--XS.jpg");

  @media (min-width: 552px ) {
    background-image: url("../images/H1__Contact--L.png");
  }
}

.h2__description {
  font-style: $font-style--secondary;
  color: $color-light;
  text-align: center;
  font-size: em(16px);
  position: relative;
  bottom: em(23px);
  margin-bottom: em(40px);

  @media (max-width: 552px ) {
    display: none;
  }

  @include mq(small) {
    font-size: em(18px);
  }
}




// ========================================
// Alternate Fixed and Scrolling
// ========================================
.cd-fixed-bgtop {
  min-height: 100%;
  background-size: cover;
	background-attachment: fixed;
}

.cd-fixed-bg {
  background-repeat: repeat;
	background-attachment: fixed;
}

.cd-scrolling-bg {
	min-height: 100%;
}
