.myanimation {
  height: 13em;
  position: absolute;
  top: 41%;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}


// Home | H1 Title Animation ========================================

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.slide span {
  display: inline-block;
}
.cd-headline.slide .cd-words-wrapper {
  vertical-align: top;
}
.cd-headline.slide b {
  opacity: 0;
  top: .2em;
}
.cd-headline.slide b.is-visible {
  top: 0;
  opacity: 1;
  -webkit-animation: slide-in 0.6s;
  -moz-animation: slide-in 0.6s;
  animation: slide-in 0.6s;
}
.cd-headline.slide b.is-hidden {
  -webkit-animation: slide-out 0.6s;
  -moz-animation: slide-out 0.6s;
  animation: slide-out 0.6s;
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes slide-out {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  60% {
    opacity: 0;
    -moz-transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}




// Portfolio | Direction-Aware Hover ========================================

.da-thumbs {
	position: relative;
  padding: 0;
}

.da-thumbs li {
	background: #fff;
	position: relative;

}
.da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
	position: absolute;
	background-color: rgba(10,179,137,0.7);
  background-image: url("../images/Work__Vignette.png");
	width: 100%;
	height: 100%;
  text-align: center;
}

.da-thumbs li a div div {
  position: relative;
  display: block;
  border: 6px solid rgba(255,255,255,1);
  margin: 5.5% auto;
  width: 90%;
  height: 82%;

  @include mq(small) {
    border: 8px solid rgba(255,255,255,1);
    margin: em(20px) auto 0;
    width: 334px;
    height: 185px;
  }

  @include mq(medium) {
    border: 10px solid rgba(255,255,255,1);
    margin: em(24px) auto 0;
    width: 436px;
    height: 243px;
  }

  @include mq(large) {
    border: 12px solid rgba(255,255,255,1);
    margin: em(31px) auto 0;
    width: 525px;
    height: 290px;
  }
}

.da-thumbs li a div div span:first-child {
	display: block;
  padding: 5% 0;
  margin: 14% 20px;
  font-size: em(18px);

  @include mq(small) {
    padding: em(12px) 0;
    margin: 20px 50px 11px;
    font-size: em(18px);
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(255,255,255,0.5);
  }

  @include mq(medium) {
    padding: em(16px) 0;
    margin: 30px 60px 19px;
    font-size: em(20px);
    letter-spacing: 1px;
  }

  @include mq(large) {
    padding: em(16px) 0;
    margin: 40px 60px 21px;
    font-size: em(23px);
  }

	text-transform: uppercase;
	color: rgba(255,255,255,1);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.thumbnail__tags {
  font-style: $font-style--secondary;
  color: $color-reverse;
  font-size: em(18px);
  letter-spacing: .5px;

  @include mq(small) {
    font-size: em(16px);
  }

  @include mq(medium) {
    font-size: em(18px);
  }
}

.thumbnail__tags--mobile {
  margin-top: 18%;
  display: block;
  text-align: center;

  @media (min-width: 458px ) {
    margin-top: 20%;
    font-size: em(19px);
  }

  @media (min-width: 552px ) {
    margin-top: 22%;
    font-size: em(20px);
  }

  @media (min-width: 660px ) {
    margin-top: 22.5%;
    font-size: em(22px);
  }
}

.glyphicon {
  color: $color-reverse;
  position: relative;
  top: 28%;

  @media (min-width: 458px ) {
    top: 31%;
  }

  @media (min-width: 552px ) {
    top: 35%;
  }

  @media (min-width: 660px ) {
    top: 38%;
    font-size: em(19px);
  }
}
