nav {
  -webkit-transition: top 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
}

.process svg {
  transform-origin: 35.33px 35px;
  -webkit-transform-origin: 35.33px 35px;
  -ms-transform-origin: 35.33px 35px;
}


.process .inactive .outer {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
}

.process .inactive .inner {
  transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
}

.process .inactive:hover .outer {
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}

.process .inactive:hover .inner {
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}

.process .inactive:hover path {
  transition: fill;
  -webkit-transition: fill;
  -moz-transition: fill;
  -o-transition: fill;
}

.process path {
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transform-origin: 50% 50%;
  transform-origin: 35.33px 35px;
  -webkit-transform-origin: 35.33px 35px;
  -ms-transform-origin: 35.33px 35px;
}
